<style>
    .window_zapros_na_perevod .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_zapros_na_perevod .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

    .window_zapros_na_perevod .FixP label {

        width: auto;

    }


    .window_zapros_na_perevod p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_zapros_na_perevod label {
        margin: 7px 5px 7px 0;
        width: 50%;
        float: left;
        text-align: right;
        height: auto;
    }

    .window_zapros_na_perevod select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        height: 20px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .window_zapros_na_perevod input [type="text"] {
        width: 245px !important;
    }

    input[type="date" i] {
        width: 250px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .window_zapros_na_perevod input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .window_zapros_na_perevod .save_smena_jk {
        position: relative;
        left: 43%;
        width: 200px;
        margin: 3px;
    }

    .window_zapros_na_perevod .default {
        align-items: center;
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_zapros_na_perevod h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }


</style>
<div class="window_zapros_na_perevod">
    <div style="overflow: hidden; padding: 0;" class="tab_smenaJK">
        <ul>
            <li style="display: none"></li>
        </ul>
        <div class="tab_beremennya_smena_jk">
            <form id="smena_jk_u_beremennoy_form" class="smena_jk_u_beremennoy_form" action="{% url 'home' %}"
                  method="post">
                {% csrf_token %}
                {{ smena_jk_form.as_p }}

                <div style="position: sticky; bottom: 0;" class="default">
                    <button class="menubtn save_smena_jk" type="submit">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>

    class WindowZaprosNaPerevod {
        constructor($window_zapros_na_perevod, $btn_open_window_zapros_na_perevod) {
            let self = this;
            this.$window = $window_zapros_na_perevod;
            this.$btn_open_window = $btn_open_window_zapros_na_perevod;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                theme: 'arctic',
                width: '50%',
                height: 290,
                title: 'Запрос на перевод',
                autoOpen: false,
                resizable: false,
                draggable: true
            });
            this.on_close();
        }

        open2(id) {
            this.$window.find(`#id_nomer_beremennoy option[value="${id}"]`).prop('selected', true);
            this.$window.jqxWindow('open');
        }

        open(id = 0) {
            let self = this;
            if (id) {
                SmenaJK_ID = id;
                fetch(`/api/smenaJK/${id}`).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            self.$window.find('#id_nomer_beremennoy').val(data['nomer_beremennoy']);
                            self.$window.find('#id_novaya_JK').val(data['novaya_JK']);
                            self.$window.find('#id_prichina').val(data['prichina']);

                            self.$window.jqxWindow('open');
                            self.$window.jqxWindow('bringToFront');
                            {#если есть id - значит редачим. Если редачим значить есть url+id#}
                            let url = '{% url 'smenaJK_lv' %}';
                            $('.smena_jk_u_beremennoy_form').attr('action', `${url}${id}`);
                        }).catch(function () {
                            $('.smena_jk_u_beremennoy_form').action(url)
                            alert('Не могу получить JSON ');
                        })

                    } else {
                        alert('Не могу получить данные');
                    }
                })

            } else {

                let url = '{% url 'smenaJK_lv' %}';
                $('.smena_jk_u_beremennoy_form').action(url)
            }

        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }
    }

    let $window_zapros_na_perevod = $('.window_zapros_na_perevod');
    let $obj_zapros_na_perevod = new WindowZaprosNaPerevod($window_zapros_na_perevod, $btn_open_window_zapros_na_perevod);

</script>