<style>
    .smena_jk_u_beremennoy_form .FixP {
        width: 60%;
    }


    .smena_jk_u_beremennoy_form .FixP label {
        width: auto;
    }

    .smena_jk_u_beremennoy_form label {
        margin: 7px 5px 7px 0;
        width: 40%;
        float: left;
        text-align: right;
        height: auto;
    }

    .smena_jk_u_beremennoy_form select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .smena_jk_u_beremennoy_form input [type="text"] {
        width: 245px !important;
    }

    .smena_jk_u_beremennoy_form .default {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }
</style>
<div class="window_zapros_na_perevod">
    <form class="smena_jk_u_beremennoy_form" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="default">
            <div class="FixP">{{ smena_jk_form.nomer_beremennoy.label_tag }}</div>
            <div class="FixP">{{ smena_jk_form.nomer_beremennoy }}</div>
        </div>
        <div class="default">
            <div class="FixP">{{ smena_jk_form.novaya_JK.label_tag }}</div>
            <div class="FixP">{{ smena_jk_form.novaya_JK }}</div>
        </div>
        <div class="default">
            <div class="FixP">{{ smena_jk_form.prichina.label_tag }}</div>
            <div class="FixP">{{ smena_jk_form.prichina }}</div>
        </div>
        <div class="default">
            <button class="menubtn " type="submit">Сохранить</button>
        </div>
    </form>
</div>

<script>

    class WindowZaprosNaPerevod {
        constructor($window_zapros_na_perevod, $btn_open_window_zapros_na_perevod) {
            let self = this;
            this.$window = $window_zapros_na_perevod;
            this.$btn_open_window = $btn_open_window_zapros_na_perevod;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: 500,
                width: 1200,
                title: 'Запрос на перевод',
                autoOpen: false,
                resizable: true,
                draggable: true
            });
            this.on_close();
        }


        open(id = 0) {
            let self = this;
            if (id) {
                fetch(`/api/beremennaya/${id}`).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {

                            console.log(data);
                            self.$window.jqxWindow('open');
                            self.$window.jqxWindow('bringToFront');
                        }).catch(function () {
                            alert('Не могу получить JSON ');
                        })

                    } else {
                        alert('Не могу получить данные');
                    }
                })

            }

        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }
    }

    let $window_zapros_na_perevod = $('.window_zapros_na_perevod');
    $(function () {
        new WindowZaprosNaPerevod($window_zapros_na_perevod, $btn_open_window_zapros_na_perevod)
    })
    let $obj_zapros_na_perevod = new WindowZaprosNaPerevod($window_zapros_na_perevod, $btn_open_window_zapros_na_perevod);

</script>