<button class="topmenu menubtn" id="btn_open_window_doctor">Врачи</button>

<script>

    class BtnWindowDoctor {
        constructor($btn_open_window_doctor, $window) {
            this.$btn = $btn_open_window_doctor;
            this.$window = $window;
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                    self.$window.jqxWindow('open');
       });
        }
    }

    $btn_open_window_doctor = $('#btn_open_window_doctor')
    $(function () {
         new BtnWindowDoctor($btn_open_window_doctor, $window_doctor);
    })


</script>