<div class="window_doctor">
    <div style="overflow: hidden; padding: 0;" class="tab_doctor">
         <ul>
            <li></li>
        </ul>
        <div>
            {% include 'partical/doctor/tabliza_doctor.html' %}</div>
    </div>
</div>
<style>
    .window_doctor .jqx-tabs-headerWrapper{
        display: none;
    }
    .window_doctor  .jqx-tabs-content-element {
        overflow: hidden;
    }
    .window_doctor  .jqx-window-header{
        height: 16px;
        padding: 7px;
    }

</style>


<script>
    class WindowDoctor {
        constructor($window_doctor, $tab, $btn_open_window_doctor) {
            let self = this;
            this.$window = $window_doctor;
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_doctor;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},

                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: 500,
                width: 1200,
                title: 'Врачи',
                autoOpen: false,
                resizable: true,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: 'calc(100% -24px)',
                        width: '100%',
                        theme: 'arctic',
                    });
                }
            });

            this.on_close();
        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_doctor = $('.window_doctor');
    let $tab_doctor = $('.tab_doctor');
    $(function () {
        new WindowDoctor($window_doctor, $tab_doctor, $btn_open_window_doctor)
    })

</script>