# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/venv
/.idea
# Project exclude paths
/apps/core/static/core/jqwidgets-scripts/scripts/initdashboard.js
/apps/core/static/core/jqwidgets-scripts/scripts/localization.js