body {
    margin: 0;
    padding: 0;
}


input[type='text'], input[type='number'] {
    width: 245px;
    height: 22px;
    margin: 4px 3px 4px 3px !important;
    min-height: 16px;
    min-width: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 13px;
    border-color: #cccccc;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.1s;
    -o-transition: box-shadow linear 0.1s;
    transition: box-shadow linear 0.1s;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-appearance: none;;
    outline: none;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -ms-touch-action: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Verdana, Arial, sans-serif;
    font-style: normal;
    zoom: 1 !important;
    -ms-text-size-adjust: none;
    direction: ltr !important;
    overflow: hidden;
    line-height: 1.231;
}


body, html {
    width: 100%;
    height: 100%;

    margin: 0;
}

h3 {
    font-style: italic;
    text-align: center;
    margin: 0;
}

.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

.width250 {
    width: 250px;
}

.width240 {
    width: 240px;
}

.mt {
    margin-top: 5px;
}

.ml {
    margin-left: 5px;
}


li {
    margin: 0;
    padding: 3px 0px 3px 0px;

}

ul {
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;
}

.topmenu {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    float: left;
}


.default {
    margin-top: 1px;
    background-color: #dee0e2;
    float: left;
    width: 100%;
    display: inline-flex;
}

.default1 {
    margin: 0;
    padding: 0;
    background-color: #dee0e2;
    float: left;
    width: 100%;
    display: inline-flex;
}

.combo {
    display: inline-flex;
    width: 60%;
    float: right;
    text-align: right;
    margin-left: 40%;


}

.mainDemoContainer {
    margin: 0;
    padding: 0;
}

.jqxDateTimeInput {
    float: left;
    width: 50%;
}

.jqx-checkbox-default {
    margin: 2px 3px 2px 3px;;
}

.jqx-combobox-state-normal {
    margin: 4px 3px 4px 3px;;
}

.jqx-input {
    margin: 4px 3px 4px 3px;;
}

.jqx-dropdownlist-state-normal {
    margin: 4px 3px 4px 3px;
}


.text {
    width: 40%;
    float: left;
    text-align: right;
    height: auto;

}

.doptext {
    float: right;
    text-align: left;
    margin-left: 2px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px 5px 5px 0;
    height: 30px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding-left: 10px;
    background-color: #dee0e2;
    float: left;
    width: 100%;
    display: none;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.regpoiskcontent {
    display: none;
}

.pole_poiska {
    background-color: #dee0e2;
}

.def_poisk {
    background: #eae9e9;
    float: left;
    display: block;
    margin: 2px;
}

.menubtn {
    /*box-sizing: content-box;*/
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    border-color: #aaa;
    background: #efefef;
    outline: none;
    text-align: center;
    /*vertical-align: central;*/
    cursor: default;
    appearance: auto;
    user-select: none;
    /*white-space: pre;*/
    align-items: flex-start;
    /*color: black;*/
    box-sizing: border-box;
    border-width: 1px;
    /*border-style: outset;*/
    /*border-image: initial;*/
    padding: 5px;
    /*vertical-align: central;*/
    border-radius: 3px;
    border-style: solid;
}

.menubtn:hover {
    /*box-sizing: content-box;*/
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    border-color: #74a8e3;
    background: #dddcdc;
    outline: none;
    text-align: center;
    /*vertical-align: central;*/
    cursor: default;
    appearance: auto;
    user-select: none;
    /*white-space: pre;*/
    align-items: flex-start;
    /*color: black;*/
    box-sizing: border-box;
    border-width: 1px;
    /*border-style: outset;*/
    /*border-image: initial;*/
    padding: 5px;
    /*vertical-align: central;*/
    border-radius: 3px;
    border-style: solid;
}

.menubtn:active {
    /*box-sizing: content-box;*/
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    border-color: #808080;
    background: #acabab;
    outline: none;
    text-align: center;
    /*vertical-align: central;*/
    cursor: default;
    appearance: auto;
    user-select: none;
    /*white-space: pre;*/
    align-items: flex-start;
    /*color: black;*/
    box-sizing: border-box;
    border-width: 1px;
    /*border-style: outset;*/
    /*border-image: initial;*/
    padding: 5px;
    /*vertical-align: central;*/
    border-radius: 3px;
    border-style: solid;
}

.menubtn_toggle {
    /*box-sizing: content-box;*/
    font-family: Verdana,Arial,sans-serif;
    font-style: normal;
    border-color: #808080;
    background: #acabab;
    outline: none;
    text-align: center;
    /*vertical-align: central;*/
    cursor: default;
    appearance: auto;
    user-select: none;
    /*white-space: pre;*/
    align-items: flex-start;
    /*color: black;*/
    box-sizing: border-box;
    border-width: 1px;
    /*border-style: outset;*/
    /*border-image: initial;*/
    padding: 5px;
    /*vertical-align: central;*/
    border-radius: 3px;
    border-style: solid;
}

select:disabled, input:disabled {
    opacity: 1;
    color: black;
}

/* стили для чекбокса, находящегося в состоянии disabled */
/*.novaya_beremennaya input[type=checkbox]:disabled+label::before {*/
/*  background-color: #1678d2 !important;*/
/*    */
/*    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));*/
/*    border-color: rgba(118, 118, 118, 0.3);*/
/*}*/

.d-block{
    display: block !important;
}