<style>
    .window_smenaJK .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_smenaJK .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

    .window_smenaJK .FixP label {

        width: auto;

    }


    .window_smenaJK p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_smenaJK label {
        margin: 7px 5px 7px 0;
        width: 50%;
        float: left;
        text-align: right;
        height: auto;
    }

    .window_smenaJK select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        height: 20px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .window_smenaJK input [type="text"] {
        width: 245px !important;
    }

    input[type="date" i] {
        width: 250px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .window_smenaJK input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .window_smenaJK .save_smena_jk {
        position: relative;
        left: 43%;
        width: 200px;
        margin: 3px;
    }

    .window_smenaJK .default {
        align-items: center;
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_smenaJK h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }


</style>
<div class="window_novorojdenniy">
    <div style="overflow: hidden; padding: 0;" class="tab_novorojdenniy">
        <ul>
            <li></li>
        </ul>
        <div class="tab_beremennya_novorojdenniy">
            <form id="smena_jk" class="smena_jk" action="{% url 'home' %}" method="post">
                {% csrf_token %}


                {{ beremennayao_novorojdenniy_plod_form.as_p }}

                <div style="position: sticky; bottom: 0;" class="default">
                    <button class="menubtn save_novorojdenniy" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    class WindowNovorojdenniy {
        constructor($window_novorojdenniy, $tab, $btn_open_window_novorojdenniy) {
            let self = this;
            this.$window = $window_novorojdenniy;
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_novorojdenniy;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 200,
                minWidth: 700,
                theme: 'arctic',
                height: 295,
                width: 1200,
                title: 'Смена ЖК',
                autoOpen: false,
                resizable: false,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: 'calc(100% -24px)',
                        width: '100%',
                        theme: 'arctic',
                    });
                }
            });

            this.on_close();
        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_novorojdenniy = $('.window_novorojdenniy');
    let $tab_novorojdenniy = $('.tab_novorojdenniy');
    $(function () {
        new WindowSmenaJK($window_novorojdenniy, $tab_novorojdenniy, $btn_open_window_novorojdenniy)
    })

</script>