<style>
    .window_konsultaciya .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_konsultaciya .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

    .window_novorojdenniy .FixP {
        width: 60%;

    }

    .window_novorojdenniy .FixP label {

        width: auto;

    }

    .window_novorojdenniy .doptext {
        margin: 7px 5px 7px 0;
    }

    .window_novorojdenniy p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_novorojdenniy label {
        margin: 7px 5px 7px 0;
        width: 50%;
        float: left;
        text-align: right;
        height: auto;
    }

    .window_novorojdenniy select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        height: 20px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .window_novorojdenniy input [type="text"] {
        width: 245px !important;
    }

    input[type="date" i] {
        width: 250px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .window_novorojdenniy input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .window_novorojdenniy .SaveNovorojdenniy {
        position: relative;
        left: 43%;
        width: 200px;
        margin: 3px;
    }

    .window_novorojdenniy .default {
        align-items: center;
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }


    .window_novorojdenniy .text {
        width: 40%;
        float: left;
        text-align: right;
        height: auto;
        margin: 7px 5px 7px 0;
    }

    .window_novorojdenniy .doptext {
        float: right;
        text-align: left;
        margin-left: 2px;
    }

    .window_novorojdenniy h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }


</style>

<div class="window_novorojdenniy">
    <form style="padding: 0;" class="noviy_novorojdenniy" action="{% url 'home' %}" method="post">
        {% csrf_token %}

        {{ novorojdenniy_form.as_p }}

        <div style="position: sticky; bottom: 0;" class="default">
            <button class="SaveNovorojdenniy menubtn " type="submit">Сохранить</button>
        </div>
    </form>
</div>

<script>

    class WindowNovorojdenniy {
        constructor($window_novorojdenniy, $btn_open_window_novorojdenniy) {
            let self = this;
            this.$window = $window_novorojdenniy;
            this.$btn_open_window = $btn_open_window_novorojdenniy;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: 400,
                width: '50%',
                title: 'Новый Новорожденный',
                autoOpen: false,
                resizable: true,
                draggable: true,
            });

            this.on_close();

        }

        open2(id) {
            this.$window.find(`#id_nomer_beremennoy option[value="${id}"]`).prop('selected', true);
            this.$window.jqxWindow('open');
        }

        open(id = 0) {
            let self = this;
            if (id) {
                  NOVOROJDENNIY_ID = id;
                fetch(`/api2/novorojdenniy/${BEREMENYA_ID}/${id}`).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            self.$window.find('#id_nomer_beremennoy').val(data['nomer_beremennoy']);
                            self.$window.find('#id_nomer_novorojdennogo').val(data['nomer_novorojdennogo']);
                            self.$window.find('#id_pol_novorojdennogo').val(data['pol_novorojdennogo']);
                            self.$window.find('#id_ves_novorojdennogo').val(data['ves_novorojdennogo']);
                            self.$window.find('#id_rost_novorojdennogo').val(data['rost_novorojdennogo']);
                            self.$window.find('#id_ocenka_po_shkale_apgar_na1_min').val(data['ocenka_po_shkale_apgar_na1_min']);
                            self.$window.find('#id_ocenka_po_shkale_apgar_na5_min').val(data['ocenka_po_shkale_apgar_na5_min']);
                            self.$window.find('#id_vpr_novorojdennogo_po_mkb10').val(data['vpr_novorojdennogo_po_mkb10']);
                            self.$window.find('#id_smert_novorojdennogo').val(data['smert_novorojdennogo']);
                            self.$window.find('#id_prichina_smerti_materi_po_mkb10').val(data['prichina_smerti_materi_po_mkb10']);
                            self.$window.jqxWindow('open');
                            self.$window.jqxWindow('bringToFront');
                            {#если есть id - значит редачим. Если редачим значить есть url+id#}
                            let url =  `/api2/novorojdenniy/${NOVOROJDENNIY_ID}`;
                            $('.noviy_novorojdenniy').attr('action', `${url}${id}`);
                        }).catch(function () {
                            $('.noviy_novorojdenniy').action(url)
                            alert('Не могу получить JSON ');
                        })

                    } else {
                        alert('Не могу получить данные');
                    }
                })

            } else {

                let url = `/api2/novorojdenniy/${NOVOROJDENNIY_ID}`;
                $('.noviy_novorojdenniy').action(url)
            }

        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }
    }

    let $window_novorojdenniy = $('.window_novorojdenniy');
    let $obj_novorojdenniy = new WindowNovorojdenniy($window_novorojdenniy, $btn_open_window_novorojdenniy);
    $(function () {
        new WindowNovorojdenniy($window_novorojdenniy, $btn_open_window_novorojdenniy)
    })
</script>