<input class="topmenu btn_open_window_smenaJK" type="button" value="МКБ 10"/>

<script>

    class BtnWindowSmenaJK {
        constructor($btn_open_window_smenaJK, $window) {
            this.$btn = $btn_open_window_smenaJK;
            this.$window = $window;
            this.$btn.jqxToggleButton({
                toggled: false
            });
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                let toggled = self.$btn.jqxToggleButton('toggled');
                if (toggled === true) {
                    self.$window.jqxWindow('open');
                } else {
                    self.$window.jqxWindow('close');
                }
            });
        }
    }

    $btn_open_window_smenaJK = $('.btn_open_window_smenaJK')
    $(function () {
         new BtnWindowSmenaJK($btn_open_window_smenaJK, $window_smenaJK);
    })


</script>