<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id='jqxWidget' class="default">
    <div class="text"> Дата заполнения анкеты врачем:</div>
    <div style="width: 200px;" class='jqxDateTimeInput'></div>
</div>

<div class="default">
    <div class="text">Фамилия врача заполнившего анкету:</div>
    <div class='jqxWidgetDropDoctor'></div>
</div>

<div class="default">
    <div class="text">Вес беременной:</div>
    <input type="text" class="input1"/>
    <div class="doptext">кг</div>
</div>

<div class="default">
    <div class="text">Срок беременности, нед.:</div>
    <input type="text" class="input2"/>
    <div class="doptext">по объективным данным</div>
</div>

<div class="default1">
    <div class="combo">
        <input type="text" class="input3"/>
        <div class="doptext">по данным УЗИ</div>
    </div>
</div>

<div class="default1">
    <div class="combo">
        <input type="text" class="input4"/>
        <div class="doptext">по первому шевелению плода</div>
    </div>
</div>

<h3>Осложнения текущей беременности</h3>

<div class="default">
    <div class="text">Особенности протекания беременности:</div>
    <div style='float: left;' id='jqxWidgetCombo'>
    </div>
    <div style="float: left; margin-left: 20px; font-size: 13px; font-family: Verdana;">
        <div id="selectionlog"></div>
        <div style='max-width: 300px; margin-top: 20px;' id="checkedItemsLog"></div>
    </div>
</div>


<div class="default">
    <div class="text">Угроза прерывания:</div>
</div>

<div class="default">
    <div class="text">Антифосфилипидный синдром:</div>
</div>

<div class="default">
    <div class="text">Проэклампсия:</div>
</div>

<div class="default">
    <div class="text">Резус сенсибилизация:</div>
</div>

<div class="default">
    <div class="text">АВО-сенсибилизация:</div>
</div>

<div class="default">
    <div class="text">Фетоплацентарная недостаточность:</div>
</div>

<div class="default">
    <div class="text">Нарушение околоплодных вод:</div>
</div>

<div class="default">
    <div class="text">Неправильное положение плода:</div>
</div>

<div class="default">
    <div class="text">Обвитие пуповины:</div>
</div>

<div class="default">
    <div class="text">Многоплодие:</div>
</div>

<h3>Состояние плода</h3>

<div class="default">
    <div class="text">Крупный плод:</div>
</div>

<div class="default">
    <div class="text">Предлежание плаценты:</div>
</div>

<div class="default">
    <div class="text">Уровень РРАР-А:</div>
</div>

<div class="default">
    <div class="text">Уровень бета ХГЧ:</div>
</div>

<div class="default">
    <div class="text">Факт проведения УЗИ в скриниговые сроки:</div>
</div>

<div class="default">
    <div class="text">Несоответствие данных УЗИ сроку гестации:</div>
</div>

<div class="default">
    <div class="text">Наличие ВПР по результатам УЗИ:</div>
</div>

<div class="default">
    <div class="text">Дата проведения пренатального консилиума:</div>
</div>

<div class="default">
    <div class="text">Общее состояние плода:</div>
</div>

<div class="default">
    <div class="text">Направлена на экстренное родоразрешение:</div>
</div>

<h3>Заключение врача</h3>

<div class="default">
    <div class="text">Диагноз основной (код по МКБ-10):</div>
</div>

<div class="default">
    <div class="text">Диагноз осложнения (код по МКБ-10):</div>
</div>

<div class="default">
    <div class="text">Диагноз сопутствующий (код по МКБ-10):</div>
</div>

<div class="default">
    <div class="text">Дополнительные замечания врача:</div>
</div>

<div class="default">
    <div class="text">Диагноз осложнения (код по МКБ-10):</div>
</div>
<div class="default">
    <div>
        <input class=" jqxButton14" type="button" value="Сохранить"/>
    </div>
</div>
</body>
</html>