<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id='jqxWidget' class="default">
    <div class="text"> Дата исхода:</div>
    <div style="width: 200px;" class='jqxDateTimeInput'></div>
</div>

<div class="default">
    <div class="text">Место исхода:</div>

</div>

<div class="default">
    <div class="text">Степерь риска после исхода:</div>
    <input type="text" class="input1"/>
</div>

<div class="default">
    <div class="text">Гибель плода в антенатальном периоде:</div>
    <input type="text" class="input5"/>
</div>

<div class="default">
    <div class="text">Исход беременности:</div>
</div>

<h3>Осложнения при родоразрешении</h3>
<div class="default">
    <div class="text">Антифосфилипидный синдром:</div>
</div>

<div class="default">
    <div class="text">Проэклампсия:</div>
</div>

<div class="default">
    <div class="text">Предлежание плаценты:</div>
</div>

<div class="default">
    <div class="text">Преждевр. отслойка норм.расп. плаценты:</div>
</div>

<div class="default">
    <div class="text">Аномалии родовой деятельности:</div>
</div>

<div class="default">
    <div class="text">Клинически узкий таз:</div>
</div>

<div class="default">
    <div class="text">Разрыв матки:</div>
</div>

<div class="default">
    <div class="text">ДВС-синдром:</div>
</div>

<div class="default">
    <div class="text">Эмболия:</div>
</div>

<h3>Случай материнской смертности</h3>

<div class="default">
    <div class="text">Смерть матери:</div>
</div>

<h3>Новорожденные</h3>

<div class="default">
    <div class="text">Количество новорожденных:</div>
</div>
<div id="tabliza_novorojdenniy"></div>
<div class="default">
    <div class="text">Печать:</div>
    <div>
        <input class=" jqxButton15" type="button" value="Основные данные"/>
    </div>
    <div>
        <input class=" jqxButton16" type="button" value="Анкета"/>
    </div>
</div>
</body>
</html>