<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jqxWidgetWindow2">
    <div class="mainDemoContainer2">
        <div class="window2">
            <div class="windowHeader2">
                    <span>
                        МКБ10
                    </span>
            </div>
            <div style="overflow: hidden;" class="windowContent2">
                <div id="tab">
    <div id="tabliza_mkb10"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
