<style>
    .tabcontent {
        width: -webkit-fill-available;
    }

    .tabcontent input {
        width: 250px;
        height: 15px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .tabcontent input[type="date" i] {
        width: 180px !important;
        margin: 7px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>


<div class="default" xmlns="http://www.w3.org/1999/html">
    <button class="btn_poisk topmenu menubtn btnregpoisk"  style="display: none" onclick="regPoisk(event, 'Reg')">Поиск</button>
    <button class="btn_rashirenniy_poisk topmenu menubtn btnregpoisk" onclick="regPoisk(event, 'Poisk')">Столбцы
    </button>
    {% include 'beremennya/btn_open_window_beremennya.html' %}
    <button class="topmenu menubtn" style="display: none">Консультации</button>


    <button class="Obnovit menubtn" onclick="ObnovitTablicu()">Обновить таблицу</button>
{#    {% include 'partical/smenaJK/btn_open_window_smenaJK.html' %}#}
    {% include 'partical/Otchety/btn_open_window_otchety.html' %}
    {% include 'partical/doctor/btn_open_window_doctor.html' %}
    {% include 'partical/mkb10/btn_open_window_mkb10.html' %}
    <button style="
    position: absolute;
    right: 1%;
    width: 7%;" class="topmenu menubtn" onclick="window.location.href='/vihod'">Выход {{ user.username }}
    </button>
</div>
<div id="Reg" class="regpoiskcontent">

    <div class="tab">
        <button class="tablinks" onclick="openMenu(event, 'Karta')">Обменная карта</button>
        <button class="tablinks" onclick="openMenu(event, 'OMS')">Номер ОМС</button>
        <button class="tablinks" onclick="openMenu(event, 'FIO')">ФИО беременной</button>
    </div>

    <div id="Karta" class="tabcontent">
        <div class="default">
            <div style="margin: 5px 5px 0 5px;" class="nazvanie">Карта №</div>
            <input class="input_menu_nomer_karty"/>
            <div style="margin: 5px 5px 0 5px;" class="nazvanie">Год</div>
            <input style="width: 200px; height: 15px;" type="date"/>
        </div>
    </div>

    <div id="OMS" class="tabcontent">
        <div style="display: inline-block" class="nazvanie">Номер ОМС</div>
        <input class="input_menu_oms"/>
    </div>

    <div id="FIO" class="tabcontent">
        <div style="display: inline-block" class="nazvanie">ФИО беременной</div>
        <input class="input_menu_fio"/>
    </div>

</div>

{% include 'partical/poisk.html' %}

<div class="default">


    {% include 'partical/buttons/btn_open_window_redactirovat_beremennuyu.html' %}
    {% include 'partical/buttons/btn_open_window_novaya_anketa.html' %}
    {% include 'partical/buttons/btn_open_window_novoe_napravlenie.html' %}
    {% include 'partical/buttons/btn_open_window_novaya_konsultaciya.html' %}
    {#    {% include 'partical/buttons/btn_open_window_ishod.html' %}#}

</div>

<script>


    function ObnovitTablicu() {
        BEREMENYA_ID = null;
        $('.tabliza_beremennaya').jqxGrid({source: $('.tabliza_beremennaya').jqxGrid('source')});
    }

    {#    $(".btn_poisk").on('click', function () {#}
    {#                    var toggled = $(".btn_poisk").jqxToggleButton('toggled');#}
    {#                    if (toggled) {#}
    {#                        document.getElementById("btn_poisk").classList.remove('menubtn');#}
    {#                        document.getElementById("btn_poisk").classList.add('menubtn_toggle');#}
    {#                    }#}
    {#                    else $(".btn_poisk")[0].value = 'Toggled Off';#}
    {#                });#}
</script>