{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<script src="{% static 'core/TabMenu.js' %}"></script>
<div class="default">

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton1" type="button" value="Регистрация беременных"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton2" type="button" value="Поиск"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton3" type="button" value="Консультации"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton4" type="button" value="Переводы"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton5" type="button" value="Отчеты"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton6" type="button" value="Врачи"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input  class=" jqxButton17" type="button" value="МКБ"/>
        </div>
    </div>

</div>

<div class="tab">
    <button class="tablinks" onclick="openMenu(event, 'Karta')">Обменная карта</button>
    <button class="tablinks" onclick="openMenu(event, 'OMS')">Номер ОМС</button>
    <button class="tablinks" onclick="openMenu(event, 'FIO')">ФИО беременной</button>
</div>

<!-- Tab content -->
<div id="Karta" class="tabcontent">

    <div class="default">
        <div>Карта №</div>
        <input class="input6"/>
        <div>Год</div>
        <div style="width: 200px;" class='jqxDateTimeInput'></div>
    </div>


</div>

<div id="OMS" class="tabcontent">
     <div>Номер ОМС</div>
        <input class="input7"/>
</div>

<div id="FIO" class="tabcontent">
    <div>ФИО беременной</div>
        <input class="input8"/>
</div>
<div class="default">

    <div class="topmenu" id='jqxWidget'>
            <input class=" jqxButton7" type="button" value="Новая беременная"/>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton8" type="button" value="Редактировать беременную"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton9" type="button" value="Новая анкета"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton10" type="button" value="Новое направление"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton11" type="button" value="Новая консультация"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton12" type="button" value="Исход беременности"/>
        </div>
    </div>

    <div class="topmenu" id='jqxWidget'>
        <div>
            <input class=" jqxButton13" type="button" value="Запрос на перевод"/>
        </div>
    </div>

</div>

</body>
</html>