<style>
    .def_poisk li {
        padding: 3px 3px 1px 0;
    }

    #OsnovBtn_Poisk {
        margin: 2px 0 2px 3px;
    }

    #PokazBtn_Poisk {
        margin: 2px 0 2px 3px;
    }

    #UbratBtn_Poisk {
        margin: 2px 0 2px 3px;
    }
</style>
<div id="Poisk" class="regpoiskcontent" xmlns="http://www.w3.org/1999/html">
    <div class="default">
        <button class="menubtn" id="Btn_Poisk_BezIshoda">Без исхода</button>
        <button class="menubtn" id="Btn_Poisk_PoKarte">Поиск по карте</button>
        <button class="menubtn" id="Btn_Poisk_PoNumOMS">Поиск по номеру ОМС</button>
        <button class="menubtn" id="Btn_Poisk_FIO">Поиск ФИО</button>
        <button class="menubtn" id="Btn_Poisk_Raschir">Расширенный поиск</button>
    </div>
    <div class="default">
        <div style=" margin-left: 3px;" class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="FIO_Poisk">ФИО</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="NomerKarty_Poisk">№ Карты</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="GodOtkrKarty_Poisk">Год открытия карты</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="JKOtkrKarty_Poisk">ЖК открывшая карту</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="OMS_Poisk">ОМС</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="DataRojd_Poisk">Дата рождения</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="DataPostNaUchet_Poisk">Дата постановки на учет</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="MestPostProj_Poisk">Место постоянного проживания</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="SrokTekBer_Poisk">Срок текущий/исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="SrokPoPoslAnk_Poisk">Срок по посл.анкете</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="JKVedBer_Poisk">Жк ведущая беременную</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="FIOUchVr_Poisk">ФИО участкового врача</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="IshodBer_Poisk">Исход беременности</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="MestoIshoda_Poisk">Место исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="StRiskaPosleIsh_Poisk">Степень риска после исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="StRiskaBer_Poisk">Степень риска беременности</input>
                </li>
            </ul>
        </div>
        <ul style="list-style-type: none">
            <li>
                <button id="OsnovBtn_Poisk" class="menubtn">Основные</button>
            </li>
            <li>
                <button id="PokazBtn_Poisk" class="menubtn">Показать все</button>
            </li>
            <li>
                <button id="UbratBtn_Poisk" class="menubtn">Убрать все</button>
            </li>
        </ul>
    </div>
</div>
