
<div id="poisk">
    <div class="default">
        <input class="topmenu jqxButton17" type="button" value="Без исхода"/>
        <input class="topmenu jqxButton8" type="button" value="Поиск по карте"/>
        <input class="topmenu jqxButton9" type="button" value="Поиск по номеру ОМС"/>
        <input class="topmenu jqxButton10" type="button" value="Поиск ФИО"/>
        <input class="topmenu jqxButton11" type="button" value="Расширенный поиск"/>
    </div>
    <div class="pole_poiska">
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li>
                    <div class="FIO_Poisk">ФИО</div>
                </li>
                <li>
                    <div class="NomerKarty_Poisk">№ Карты</div>
                </li>
                <li>
                    <div class="GodOtkrKarty_Poisk">Год открытия карты</div>
                </li>
                <li>
                    <div class="JKOtkrKarty_Poisk">ЖК открывшая карту</div>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li>
                    <div class="OMS_Poisk">ОМС</div>
                </li>
                <li>
                    <div class="DataRojd_Poisk">Дата рождения</div>
                </li>
                <li>
                    <div class="DataPostNaUchet_Poisk">Дата постановки на учет</div>
                </li>
                <li>
                    <div class="MestPostProj_Poisk">Место постоянного проживания</div>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li>
                    <div class="SrokTekBer_Poisk">Срок текущий/исхода</div>
                </li>
                <li>
                    <div class="SrokPoPoslAnk_Poisk">Срок по посл.анкете</div>
                </li>
                <li>
                    <div class="JKVedBer_Poisk">Жк ведущая беременную</div>
                </li>
                <li>
                    <div class="FIOUchVr_Poisk">ФИО участкового врача</div>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li>
                    <div class="IshodBer_Poisk">Исход беременности</div>
                </li>
                <li>
                    <div class="MestoIshoda_Poisk">Место исхода</div>
                </li>
                <li>
                    <div class="StRiskaPosleIsh_Poisk">Степень риска после исхода</div>
                </li>
                <li>
                    <div class="StRiskaBer_Poisk">Степень риска беременности</div>
                </li>
            </ul>
        </div>
        <ul style="list-style-type: none">
            <li>
                <input class="OsnovBtn_Poisk" type="button" value="Основные"/>
            </li>
            <li>
                <input class="PokazBtn_Poisk" type="button" value="Показать все"/>
            </li>
            <li>
                <input class="UbratBtn_Poisk" type="button" value="Убрать все"/>
            </li>
        </ul>
    </div>
</div>
