<style>
    .def_poisk li {
        padding: 3px 3px 1px 0;

    }

    #OsnovBtn_Poisk {
        margin: 2px 0 2px 3px;
    }

    #PokazBtn_Poisk {
        margin: 2px 0 2px 3px;
    }

    #UbratBtn_Poisk {
        margin: 2px 0 2px 3px;
    }

    button {
        margin: 3px 0 3px 3px;
    }
</style>
<div id="Poisk" class="regpoiskcontent" xmlns="http://www.w3.org/1999/html">

    <div class="default">
        <div style=" margin-left: 3px;" class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="FIO_Poisk" checked>ФИО</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="NomerKarty_Poisk" checked>№ Карты</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="GodOtkrKarty_Poisk">Год открытия карты</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="JKOtkrKarty_Poisk">ЖК открывшая карту</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="OMS_Poisk" checked>ОМС</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="DataRojd_Poisk" checked>Дата рождения</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="DataPostNaUchet_Poisk">Дата постановки на учет</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="MestPostProj_Poisk">Место постоянного проживания</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="SrokTekBer_Poisk">Срок текущий/исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="SrokPoPoslAnk_Poisk">Срок по посл.анкете</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="JKVedBer_Poisk">Жк ведущая беременную</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="FIOUchVr_Poisk">ФИО участкового врача</input>
                </li>
            </ul>
        </div>
        <div class="def_poisk">
            <ul style="list-style-type: none;">
                <li style="margin-top: 4%;">
                    <input type="checkbox" class="" id="IshodBer_Poisk">Исход беременности</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="MestoIshoda_Poisk">Место исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="StRiskaPosleIsh_Poisk">Степень риска после исхода</input>
                </li>
                <li>
                    <input type="checkbox" class="" id="StRiskaBer_Poisk" checked>Степень риска беременности</input>
                </li>
            </ul>
        </div>
        <ul style="list-style-type: none">
            <li>
                <button id="OsnovBtn_Poisk" class="menubtn">Основные</button>
            </li>
            <li>
                <button id="PokazBtn_Poisk" class="menubtn">Показать все</button>
            </li>
            <li>
                <button id="UbratBtn_Poisk" class="menubtn">Убрать все</button>
            </li>
        </ul>
    </div>
</div>

<script>
    $('#OsnovBtn_Poisk').on('click', function () {
        $('#FIO_Poisk').prop('checked', true);
        $('#NomerKarty_Poisk').prop('checked', true);
        $('#OMS_Poisk').prop('checked', true);
        $('#DataRojd_Poisk').prop('checked', true);
        $('#StRiskaBer_Poisk').prop('checked', true);
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'fio');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer_oms');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_rojdeniya_str');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'stepen_riska_title');
    })

    $('#PokazBtn_Poisk').on('click', function () {
        $('.def_poisk input:checkbox').prop('checked', true);
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'fio');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer_oms');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_rojdeniya_str');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_vzyatiya_str');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'mesto_postoyannogo_projivaniya_title');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'jk_beremennoy_title');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'vrach_title');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_ishoda_str');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'mesto_ishoda_title');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'stepen_riska_posle_ishoda_title');
        $(".tabliza_beremennaya").jqxGrid('showcolumn', 'stepen_riska_title');
    })

    $('#UbratBtn_Poisk').on('click', function () {
        $('.def_poisk input:checkbox').prop('checked', false);
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'fio');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'nomer');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'nomer_oms');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_rojdeniya_str');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_vzyatiya_str');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'mesto_postoyannogo_projivaniya_title');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'jk_beremennoy_title');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'vrach_title');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_ishoda_str');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'mesto_ishoda_title');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'stepen_riska_posle_ishoda_title');
        $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'stepen_riska_title');
    })


    $('#FIO_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'fio');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'fio');
        }
    })

    $('#NomerKarty_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'nomer');
        }
    })

    $('#GodOtkrKarty_Poisk').on('click', function () {
        if ($(this).is(':checked')) {

        } else {

        }
    })

    $('#JKOtkrKarty_Poisk').on('click', function () {
        if ($(this).is(':checked')) {

        } else {

        }
    })

    $('#OMS_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'nomer_oms');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'nomer_oms');
        }
    })

    $('#DataRojd_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_rojdeniya_str');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_rojdeniya_str');
        }
    })

    $('#DataPostNaUchet_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_vzyatiya_str');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_vzyatiya_str');
        }
    })

    $('#MestPostProj_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'mesto_postoyannogo_projivaniya_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'mesto_postoyannogo_projivaniya_title');
        }
    })

    $('#SrokTekBer_Poisk').on('click', function () {
        if ($(this).is(':checked')) {

        } else {

        }
    })

    $('#SrokPoPoslAnk_Poisk').on('click', function () {
        if ($(this).is(':checked')) {

        } else {

        }
    })

    $('#JKVedBer_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'jk_beremennoy_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'jk_beremennoy_title');
        }
    })

    $('#FIOUchVr_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'vrach_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'vrach_title');
        }
    })

    $('#IshodBer_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'data_ishoda_str');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'data_ishoda_str');
        }
    })

    $('#MestoIshoda_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'mesto_ishoda_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'mesto_ishoda_title');
        }
    })

    $('#StRiskaPosleIsh_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'stepen_riska_posle_ishoda_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'stepen_riska_posle_ishoda_title');
        }
    })

    $('#StRiskaBer_Poisk').on('click', function () {
        if ($(this).is(':checked')) {
            $(".tabliza_beremennaya").jqxGrid('showcolumn', 'stepen_riska_title');
        } else {
            $(".tabliza_beremennaya").jqxGrid('hidecolumn', 'stepen_riska_title');
        }
    })


</script>