<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jqxWidgetWindow5">
    <div class="mainDemoContainer5">
        <div class="window5">
            <div class="windowHeader5">
                    <span>
                        Смена ЖК беременной
                    </span>
            </div>
            <div style="overflow: hidden;" class="windowContent5">

    <div class="w100 h100" id="tabliza_smenaJK"></div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
