{% if user.polzovatel.rol == 1 or user.polzovatel.rol == 2 or user.polzovatel.rol == 3 %}
    <button class="topmenu menubtn" id="btn_open_window_beremennya">Новая беременная</button>
{% endif %}
<script>

    class BtnWindowBeremennya {
        constructor($btn_open_window_beremennya, $window) {
            this.$btn = $btn_open_window_beremennya;
            this.$window = $window;
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                    let tgl = self.$window.jqxWindow('isOpen');
                    if (tgl === false) {
                        BEREMENYA_ID = null;
                        document.getElementById("btn_open_window_beremennya").classList.remove('menubtn');
                        document.getElementById("btn_open_window_beremennya").classList.add('menubtn_toggle');
                        document.getElementById('novaya_beremennaya').reset();
                        {% if user.polzovatel.rol == 2 or user.polzovatel.rol == 3 or user.polzovatel.rol == 4 %}
                            $('.window_beremennya #id_jk_beremennoy').val({{ user.polzovatel.med_organiizaciya.id }});
                            $('.window_beremennya #id_jk_beremennoy').prop("disabled", true);
                        {% endif %}
                        self.$window.jqxWindow('open');
                    } else {
                        document.getElementById("btn_open_window_beremennya").classList.remove('menubtn_toggle');
                        document.getElementById("btn_open_window_beremennya").classList.add('menubtn');
                        self.$window.jqxWindow('close');
                    }
                }
            )
            ;
        }

    }

    $btn_open_window_beremennya = $('#btn_open_window_beremennya')
    $(function () {
        new BtnWindowBeremennya($btn_open_window_beremennya, $window_beremennya);
    })

    $(function () {
        $window_beremennya.on('close', function (event) {
            document.getElementById("btn_open_window_beremennya").classList.remove('menubtn_toggle');
            document.getElementById("btn_open_window_beremennya").classList.add('menubtn');
        });
    })

</script>
