<input class="topmenu btn_open_window_beremennya" type="button" value="Новая беременная"/>

<script>

    class BtnWindowBeremennya {
        constructor($btn_open_window_beremennya, $window) {
            this.$btn = $btn_open_window_beremennya;
            this.$window = $window;
            this.$btn.jqxToggleButton({
                toggled: false
            });
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                let toggled = self.$btn.jqxToggleButton('toggled');
                if (toggled === true) {
                    self.$window.jqxWindow('open');
                } else {
                    self.$window.jqxWindow('close');
                }
            });
        }
    }

    $btn_open_window_beremennya = $('.btn_open_window_beremennya')
    $(function () {
         new BtnWindowBeremennya($btn_open_window_beremennya, $window_beremennya);
    })


</script>