<button class="topmenu menubtn" id="btn_open_window_beremennya">Новая беременная</button>

<script>

    class BtnWindowBeremennya {
        constructor($btn_open_window_beremennya, $window) {
            this.$btn = $btn_open_window_beremennya;
            this.$window = $window;
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                    self.$window.jqxWindow('open');
            });
        }
    }

    $btn_open_window_beremennya = $('#btn_open_window_beremennya')
    $(function () {
         new BtnWindowBeremennya($btn_open_window_beremennya, $window_beremennya);
    })


</script>