<div class="tabliza_beremennaya"></div>

<style>

</style>

<script>
    'use strict';


    class TablizaBeremennaya {

        constructor($grid, obj_window_beremennya) {
            let self = this;
            this.$grid = $grid;
            this.obj_window_beremennya = obj_window_beremennya;
            this.$window_beremennya = $window_beremennya;
            this.$grid.jqxGrid(self.nastroiki_grida);
            this.$grid.on('rowdoubleclick', function (event) {
                self.otkrit_okno_prosmotra(event);
            });


        }

        get nastroiki_grida() {
            let self = this;
            return {
                width: '99.9%',
                height: '100%',
                source: this.data_adapter,
                columns: this.colums,
                enabletooltips: true,
                localization: RUS_LOCALIZ,
                filterable: true,
                showtoolbar: true,
                pageable: true,
                columnsresize: true,
                autorowheight: true,
                scrollmode: 'logical',
                rowsheight: 40,
                toolbarheight: 40,
                theme: 'arctic',
                altrows: true,
                sortable: true,
                showstatusbar: true,
                statusbarheight: 25,
                pagesizeoptions: ['5', '10', '30', '50', '100'],
                pagesize: 30,
            }
        }

        get fields() {
            return [
                {name: 'id', type: 'number'},
                {name: 'nomer', type: 'number'},
                {name: 'fio', type: 'string'},
                {name: 'otpravitel_title', type: 'string'},
                {name: 'data_vzyatiya_str', type: 'date'},
                {name: 'nomer_oms', type: 'number'},
                {name: 'jk_beremennoy_title', type: 'string'}
            ]
        }

        get colums() {
            return [
                {
                    text: 'ID',
                    datafield: 'id',
                    align: 'center',
                    cellsalign: 'center',
                    width: '4%',

                },
                {
                    text: 'ОМС',
                    datafield: 'nomer_oms',
                    align: 'center',
                    cellsalign: 'center',
                    width: '10%',

                },
                {
                    text: 'ФИО',
                    datafield: 'fio',
                    align: 'center',
                    cellsalign: 'center',
                    width: '16%',

                },
                {
                    text: 'Номер карты',
                    datafield: 'nomer',
                    align: 'center',
                    cellsalign: 'center',
                    width: '15%',

                },

                {
                    text: 'Учет с',
                    datafield: 'data_vzyatiya_str',
                    align: 'center',
                    cellsalign: 'center',
                    width: '10%',
                    cellsformat: 'dd.mm.yyyy'


                },
                {
                    text: 'Жк, ведущая беременную',
                    datafield: 'jk_beremennoy_title',
                    align: 'center',
                    cellsalign: 'left',
                    width: '45%',

                },
            ];
        }

        get data_adapter() {

            return new $.jqx.dataAdapter({
                datatype: "json",
                data: 'data',
                url: '/api/beremennaya/',
                datafields: this.fields,
                sortcolumn: 'id',
                sortdirection: 'desc'
            });
        }

        otkrit_okno_prosmotra(event) {
            let args = event.args;
            let id = (args.row.bounddata.id);
            this.obj_window_beremennya.open(id)
            {#open_modal_redaktirovania(id);#}
        }


    }

    let $tabliza_beremennaya = $('.tabliza_beremennaya');
    $(document).ready(function () {
        new TablizaBeremennaya($tabliza_beremennaya, obj_window_beremennya);
    });
</script>