<div class="window_beremennya">
    <div style="overflow: hidden; padding: 0;" class="tab_beremennya ">
        <ul>
            <li>Основные данные</li>
            <li>Анкеты</li>
            <li>Направление</li>
            <li>Консультация</li>
            <li>Исход</li>
            {#            <li>История</li>#}
        </ul>
        <div class="tab_osnovnie_danie">
            {% include 'beremennya/beremennaya_tabs/osnovnie_dannie.html' %}
        </div>
        <div>
            {% include 'beremennya/beremennaya_tabs/anketi/anketi.html' %}
        </div>
        <div>
            {% include 'beremennya/beremennaya_tabs/napravlenie/napravleniya.html' %}
        </div>
        <div>
            {% include 'beremennya/beremennaya_tabs/konsultaciaya/konsultaciya.html' %}
        </div>
        <div>
            {% include 'beremennya/beremennaya_tabs/ishod.html' %}
        </div>
        <div>
            {% include 'beremennya/beremennaya_tabs/istoriya.html' %}
        </div>
        <div style="color: #0a73a7; height: 100px; width: 100px" class="pechat">Pechat</div>
    </div>

</div>


<style>

    .window_beremennya .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

</style>


<script>


    class WindowBeremennya {
        constructor($window_beremennya, $tab, $btn_open_window_beremennya, $pechat) {
            let self = this;
            this.$pechat = $pechat;
            this.$window = $($window_beremennya);
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_beremennya;
            this.$window.jqxWindow({
                position: {x: '10%', y: '10%'},
                maxHeight: 2400,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: '70%',
                width: '70%',
                title: 'Беременная',
                autoOpen: false,
                resizable: true,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: 'calc(100% -24px)',
                        width: '100%',
                        theme: 'arctic',

                    });
                }
            });

            this.on_close();
        }

        open(id = 0) {
            let self = this;
            if (id) {
                BEREMENYA_ID = id;
                fetch(`/api/beremennaya/${id}`).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            self.$window.find('#id_stepen_riska').val(data['stepen_riska']);
                            self.$window.find('#id_nomer').val(data['nomer']);
                            self.$window.find('#id_jk_beremennoy').val(data['jk_beremennoy']);

                            {% if user.polzovatel.rol == 2 or user.polzovatel.rol == 3 or user.polzovatel.rol == 4 %}
                                self.$window.find('#id_jk_beremennoy').val({{ user.polzovatel.med_organiizaciya.id }});
                                self.$window.find('#id_jk_beremennoy').prop("disabled", true);
                            {% endif %}

                            self.$window.find('#id_data_vzyatiya').val(data['data_vzyatiya']);
                            self.$window.find('#id_vrach').val(data['vrach']);
                            self.$window.find('#id_fio').val(data['fio']);
                            self.$window.find('#id_data_rojdeniya').val(data['data_rojdeniya']);
                            self.$window.find('#id_vozrast').val(data['vozrast']);
                            self.$window.find('#id_mesto_postoyannogo_projivaniya').val(data['mesto_postoyannogo_projivaniya']);
                            self.$window.find('#id_nomer_telefona').val(data['nomer_telefona']);
                            self.$window.find('#id_nomer_oms').val(data['nomer_oms']);
                            self.$window.find('#id_vrednie_privichki_kurenie').prop('checked', data['vrednie_privichki_kurenie']);
                            self.$window.find('#id_vrednie_privichki_alco').prop('checked', data['vrednie_privichki_alco']);
                            self.$window.find('#id_vrednie_privichki_narko').prop('checked', data['vrednie_privichki_narko']);
                            self.$window.find('#id_vrednie_privichki_toxi').prop('checked', data['vrednie_privichki_toxi']);
                            self.$window.find('#id_vrednie_factori_truda_himicheskie').prop('checked', data['vrednie_factori_truda_himicheskie']);
                            self.$window.find('#id_vrednie_factori_truda_radioactiv').prop('checked', data['vrednie_factori_truda_radioactiv']);
                            self.$window.find('#id_vrednie_factori_truda_neudvl_jil_ysloviya').prop('checked', data['vrednie_factori_truda_neudvl_jil_ysloviya']);
                            self.$window.find('#id_vrednie_factori_truda_priem_lekarstvennih_sredstv').prop('checked', data['vrednie_factori_truda_priem_lekarstvennih_sredstv']);
                            self.$window.find('#id_socialno_ugrojaemaya').prop('checked', data['socialno_ugrojaemaya']);
                            self.$window.find('#id_semeynoe_polojenie').val(data['semeynoe_polojenie']);
                            self.$window.find('#id_somaticheskie_pokazateli_muzskoy').prop('checked', data['somaticheskie_pokazateli_muzskoy']);
                            self.$window.find('#id_somaticheskie_pokazateli_girsutizm').prop('checked', data['somaticheskie_pokazateli_girsutizm']);
                            self.$window.find('#id_ves').val(data['ves']);
                            self.$window.find('#id_rost').val(data['rost']);
                            self.$window.find('#id_index').val(data['index']);
                            self.$window.find('#id_razmer_taza_ds').val(data['razmer_taza_ds']);
                            self.$window.find('#id_razmer_taza_dc').val(data['razmer_taza_dc']);
                            self.$window.find('#id_razmer_taza_dt').val(data['razmer_taza_dt']);
                            self.$window.find('#id_razmer_taza_cd').val(data['razmer_taza_cd']);
                            self.$window.find('#id_razmer_taza_ce').val(data['razmer_taza_ce']);
                            self.$window.find('#id_razmer_taza_cv').val(data['razmer_taza_cv']);
                            self.$window.find('#id_forma_sujeniya_taza').val(data['forma_sujeniya_taza']);
                            self.$window.find('#id_stepen_sujeniya_taza').val(data['stepen_sujeniya_taza']);
                            self.$window.find('#id_rezus_faktori_beremennoy_otca').val(data['rezus_faktori_beremennoy_otca']);
                            self.$window.find('#id_vzyata_pod_nabludenie').val(data['vzyata_pod_nabludenie']);
                            self.$window.find('#id_geneticheskie_faktori').val(data['geneticheskie_faktori']);
                            self.$window.find('#id_menstrualnaya_funkciya').val(data['menstrualnaya_funkciya']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_vospalenie_roj').prop('checked', data['zabolevanie_vnut_pol_organov_vospalenie_roj']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_opuhl').prop('checked', data['zabolevanie_vnut_pol_organov_opuhl']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_mioma').prop('checked', data['zabolevanie_vnut_pol_organov_mioma']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_gipoplaziya').prop('checked', data['zabolevanie_vnut_pol_organov_gipoplaziya']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_poroki').prop('checked', data['zabolevanie_vnut_pol_organov_poroki']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_operacii_pred').prop('checked', data['zabolevanie_vnut_pol_organov_operacii_pred']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_operacii_matk').prop('checked', data['zabolevanie_vnut_pol_organov_operacii_matk']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_istmiko').prop('checked', data['zabolevanie_vnut_pol_organov_istmiko']);
                            self.$window.find('#id_zabolevanie_vnut_pol_organov_onkologiya').prop('checked', data['zabolevanie_vnut_pol_organov_onkologiya']);
                            self.$window.find('#id_besplodie').val(data['besplodie']);
                            self.$window.find('#id_tip_besplodiya').val(data['tip_besplodiya']);
                            self.$window.find('#id_nastuplenie_beremennosti_v_rezultate_eco').val(data['nastuplenie_beremennosti_v_rezultate_eco']);
                            self.$window.find('#id_nastuplenie_beremennosti_v_rezultate_ovulyacii').prop('checked', data['nastuplenie_beremennosti_v_rezultate_ovulyacii']);
                            self.$window.find('#id_data_pervogo_dnya_posledney_menstruacii').val(data['data_pervogo_dnya_posledney_menstruacii']);
                            self.$window.find('#id_paritet_beremennosti').val(data['paritet_beremennosti']);
                            self.$window.find('#id_samoproizvolniy_abort').val(data['samoproizvolniy_abort']);
                            self.$window.find('#id_vnematochnaya_beremennost').prop('checked', data['vnematochnaya_beremennost']);
                            self.$window.find('#id_rezus_konfliktnaya_beremennost').prop('checked', data['rezus_konfliktnaya_beremennost']);
                            self.$window.find('#id_gemoliticheskaya_bolezn').prop('checked', data['gemoliticheskaya_bolezn']);
                            self.$window.find('#id_iskustvenniy_abort').val(data['iskustvenniy_abort']);
                            self.$window.find('#id_iskustvenniy_abort_oslojneniya').val(data['iskustvenniy_abort_oslojneniya']);
                            self.$window.find('#id_oslojneniya_beremennosti_anemez').val(data['oslojneniya_beremennosti_anemez']);
                            self.$window.find('#id_oslojneniya_beremennosti_anemez_fetoplacent').prop('checked', data['oslojneniya_beremennosti_anemez_fetoplacent']);
                            self.$window.find('#id_oslojneniya_beremennosti_anemez_obostrenie').prop('checked', data['oslojneniya_beremennosti_anemez_obostrenie']);
                            self.$window.find('#id_oslojneniya_beremennosti_anemez_prejdevremennoy').prop('checked', data['oslojneniya_beremennosti_anemez_prejdevremennoy']);
                            self.$window.find('#id_oslojneniya_rodov').val(data['oslojneniya_rodov']);
                            self.$window.find('#id_oslojneniya_rodov').val(data['slojneniya_rodov']);
                            self.$window.find('#id_oslojneniya_rodov_osl_razrivom').prop('checked', data['oslojneniya_rodov_osl_razrivom']);
                            self.$window.find('#id_oslojneniya_rodov_osl_krovotech').prop('checked', data['oslojneniya_rodov_osl_krovotech']);
                            self.$window.find('#id_oslojneniya_rodov_osl_gnoyno').prop('checked', data['oslojneniya_rodov_osl_gnoyno']);
                            self.$window.find('#id_oslojneniya_rodov_osl_mertvoroj').prop('checked', data['oslojneniya_rodov_osl_mertvoroj']);
                            self.$window.find('#id_kesarevo_sechenie').val(data['kesarevo_sechenie']);
                            self.$window.find('#id_rubec_na_matke').prop('checked', data['rubec_na_matke']);
                            self.$window.find('#id_oslojneniya_anomaliyami_rodovoy_deyatelnosti').prop('checked', data['oslojneniya_anomaliyami_rodovoy_deyatelnosti']);
                            self.$window.find('#id_klinicheski_uzkiy_taz').prop('checked', data['klinicheski_uzkiy_taz']);
                            self.$window.find('#id_plodorazrushayushaya_operaciya').prop('checked', data['plodorazrushayushaya_operaciya']);
                            self.$window.find('#id_novorojdenniy_plod_smert').prop('checked', data['novorojdenniy_plod_smert']);
                            self.$window.find('#id_novorojdenniy_plod_ves').prop('checked', data['novorojdenniy_plod_ves']);
                            self.$window.find('#id_novorojdenniy_plod_nevrolgiych').prop('checked', data['novorojdenniy_plod_nevrolgiych']);
                            self.$window.find('#id_novorojdenniy_plod_vpr').prop('checked', data['novorojdenniy_plod_vpr']);
                            self.$window.find('#id_novorojdenniy_plod_perinatalnie').prop('checked', data['novorojdenniy_plod_perinatalnie']);
                            self.$window.find('#id_infekcionnie_bolezni_gripp').prop('checked', data['infekcionnie_bolezni_gripp']);
                            self.$window.find('#id_infekcionnie_bolezni_sifilis').prop('checked', data['infekcionnie_bolezni_sifilis']);
                            self.$window.find('#id_infekcionnie_bolezni_vich').prop('checked', data['infekcionnie_bolezni_vich']);
                            self.$window.find('#id_infekcionnie_bolezni_krasnuha').prop('checked', data['infekcionnie_bolezni_krasnuha']);
                            self.$window.find('#id_infekcionnie_bolezni_orvi').prop('checked', data['infekcionnie_bolezni_orvi']);
                            self.$window.find('#id_infekcionnie_bolezni_tuberkulez').prop('checked', data['infekcionnie_bolezni_tuberkulez']);
                            self.$window.find('#id_infekcionnie_bolezni_virusniy_gepatit').prop('checked', data['infekcionnie_bolezni_virusniy_gepatit']);
                            self.$window.find('#id_infekcionnie_bolezni_toksoplazmoz').prop('checked', data['infekcionnie_bolezni_toksoplazmoz']);
                            self.$window.find('#id_infekcionnie_bolezni_virusniy_cmvi').prop('checked', data['infekcionnie_bolezni_virusniy_cmvi']);
                            self.$window.find('#id_zlokachestvennie_obrazovaniya').prop('checked', data['zlokachestvennie_obrazovaniya']);
                            self.$window.find('#id_saharniy_diabed').val(data['saharniy_diabed']);
                            self.$window.find('#id_gestacionniy_saharniy_diabed').val(data['gestacionniy_saharniy_diabed']);
                            self.$window.find('#id_zabolevanie_shitovidnoy').val(data['zabolevanie_shitovidnoy']);
                            self.$window.find('#id_ako').val(data['ako']);
                            self.$window.find('#id_deincifalniy_sindrom').prop('checked', data['deincifalniy_sindrom']);
                            self.$window.find('#id_bolezni_krovi_anemiya').prop('checked', data['bolezni_krovi_anemiya']);
                            self.$window.find('#id_bolezni_krovi_trombocitopeniya').prop('checked', data['bolezni_krovi_trombocitopeniya']);
                            self.$window.find('#id_bolezni_krovi_trombozi').prop('checked', data['bolezni_krovi_trombozi']);
                            self.$window.find('#id_koagulopatiya').val(data['koagulopatiya']);
                            self.$window.find('#id_psih_rastroystva_psihozi').prop('checked', data['psih_rastroystva_psihozi']);
                            self.$window.find('#id_psih_rastroystva_narusheniya_lich').prop('checked', data['psih_rastroystva_narusheniya_lich']);
                            self.$window.find('#id_psih_rastroystva_shizofreniya').prop('checked', data['psih_rastroystva_shizofreniya']);
                            self.$window.find('#id_psih_rastroystva_umstvennaya_otstalost').prop('checked', data['psih_rastroystva_umstvennaya_otstalost']);
                            self.$window.find('#id_bolezni_nervnoy_sistemi_nasledstvennie').prop('checked', data['bolezni_nervnoy_sistemi_nasledstvennie']);
                            self.$window.find('#id_bolezni_nervnoy_sistemi_vospalitelnie').prop('checked', data['bolezni_nervnoy_sistemi_vospalitelnie']);
                            self.$window.find('#id_bolezni_nervnoy_sistemi_miopiya').prop('checked', data['bolezni_nervnoy_sistemi_miopiya']);
                            self.$window.find('#id_bolezni_nervnoy_narushenie').prop('checked', data['bolezni_nervnoy_narushenie']);
                            self.$window.find('#id_bolezni_nervnoy_chmt').prop('checked', data['bolezni_nervnoy_chmt']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_poroki_serdca_bez').prop('checked', data['bolezni_sistemi_krovoob_poroki_serdca_bez']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_poroki_serdca_c').prop('checked', data['bolezni_sistemi_krovoob_poroki_serdca_c']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_miokarda').prop('checked', data['bolezni_sistemi_krovoob_miokarda']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_sosudov').prop('checked', data['bolezni_sistemi_krovoob_sosudov']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_narush').prop('checked', data['bolezni_sistemi_krovoob_narush']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_operirovannoe').prop('checked', data['bolezni_sistemi_krovoob_operirovannoe']);
                            self.$window.find('#id_bolezni_sistemi_krovoob_gipertoniya').prop('checked', data['bolezni_sistemi_krovoob_gipertoniya']);
                            self.$window.find('#id_bolezni_organov_dihaniya_astma').prop('checked', data['bolezni_organov_dihaniya_astma']);
                            self.$window.find('#id_bolezni_organov_dihaniya_pnevmoniya').prop('checked', data['bolezni_organov_dihaniya_pnevmoniya']);
                            self.$window.find('#id_bolezni_organov_dihaniya_bronh').prop('checked', data['bolezni_organov_dihaniya_bronh']);
                            self.$window.find('#id_bolezni_organov_dihaniya_lobektomiya').prop('checked', data['bolezni_organov_dihaniya_lobektomiya']);
                            self.$window.find('#id_bolezni_organov_mochv_glomer').prop('checked', data['bolezni_organov_mochv_glomer']);
                            self.$window.find('#id_bolezni_organov_mochv_pochka').prop('checked', data['bolezni_organov_mochv_pochka']);
                            self.$window.find('#id_bolezni_organov_mochv_tuberkulez').prop('checked', data['bolezni_organov_mochv_tuberkulez']);
                            self.$window.find('#id_bolezni_organov_mochv_hpn').prop('checked', data['bolezni_organov_mochv_hpn']);
                            self.$window.find('#id_bolezni_organov_mochv_gidronefroz').prop('checked', data['bolezni_organov_mochv_gidronefroz']);
                            self.$window.find('#id_bolezni_organov_mochv_polikistoz').prop('checked', data['bolezni_organov_mochv_polikistoz']);
                            self.$window.jqxWindow('open');
                            {#если есть id - значит редачим. Если редачим значить есть url+id#}
                            let url = '{% url 'beremennaya_lv' %}';
                            $('.novaya_beremennaya').attr('action', `${url}${id}`);
                        }).catch(function () {
                            $('.novaya_beremennaya').action(url)
                            alert('Не могу получить JSON ');
                        })

                    } else {
                        alert('Не могу получить данные');
                    }
                })

            } else {

                let url = '{% url 'beremennaya_lv' %}';
                $('.novaya_beremennaya').action(url)
            }

        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_beremennya = $('.window_beremennya');
    let $tab_beremennya = $('.tab_beremennya');
    let $pechat = $('.pechat')
    let obj_window_beremennya = new WindowBeremennya($window_beremennya, $tab_beremennya, $btn_open_window_beremennya, $pechat);
</script>