<button class="topmenu menubtn" id="btn_open_window_mkb10">МКБ 10</button>

<script>

    class BtnWindowMkb10 {
        constructor($btn_open_window_mkb10, $window) {
            this.$btn = $btn_open_window_mkb10;
            this.$window = $window;
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn() {
            let self = this;
            this.$btn.click(function () {
                    self.$window.jqxWindow('open');
            });
        }
    }

    $btn_open_window_mkb10 = $('#btn_open_window_mkb10')
    $(function () {
         new BtnWindowMkb10($btn_open_window_mkb10, $window_mkb10);
    })


</script>