<div class="window_mkb10">

    <div class="mainDemoContainer2">
        <div class="window2 h100">
            <div class="windowHeader2" style="overflow: hidden">
                    <span>
                        МКБ10
                    </span>
            </div>
            <div style="overflow: hidden" class="windowContent2 h100">
                {% include 'partical/mkb10/tabliza_mkb10.html' %}
            </div>
        </div>
    </div>


</div>

<script>

    class WindowMkb10 {
        constructor($window_mkb10, $tab, $btn_open_window_mkb10) {
            let self = this;
            this.$window = $window_mkb10;
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_mkb10;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},

                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: 500,
                width: 1200,
                title: 'МКБ10',
                autoOpen: false,
                resizable: true,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: '100%',
                        width: '100%',
                        theme: 'arctic',
                    });
                }
            });

            this.on_close();
        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_mkb10 = $('.window_mkb10');
    let $tab_mkb10 = $('.tab_mkb10');
    $(function () {
        new WindowMkb10($window_mkb10, $tab_mkb10, $btn_open_window_mkb10)
    })

</script>