{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
        <title>Title</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/jqwidgets-scripts/jqwidgets/styles/jqx.base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'core/jqwidgets-scripts/jqwidgets/styles/jqx.arctic.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

{% block body %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'core/jqwidgets-scripts/jqwidgets/jqx-all.js' %}"></script>
<script src="{% static 'core/script.js' %}"></script>
<script src="{% static 'core/tabliza_beremennaya.js' %}"></script>
<script src="{% static 'core/tabliza_mkb10.js' %}"></script>
<script src="{% static 'core/tabliza_novorojdenniy.js' %}"></script>
<script src="{% static 'core/tabliza_napravlenie.js' %}"></script>
<script src="{% static 'core/tabliza_konsultaciaya.js' %}"></script>
<script src="{% static 'core/tabliza_doctor.js' %}"></script>
<script src="{% static 'core/tabliza_smenaJK.js' %}"></script>
</body>
</html>