<style>
    .window_otchety .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_otchety .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

    .window_otchety .FixP label {

        width: auto;

    }


    .window_otchety p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_otchety label {
        margin: 7px 5px 7px 0;
        width: 50%;
        float: left;
        text-align: right;
        height: auto;
    }

    .window_otchety select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        height: 20px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .window_otchety input [type="text"] {
        width: 245px !important;
    }

    input[type="date" i] {
        width: 250px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .window_otchety input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .window_otchety .save_napravlenie {
        position: relative;
        left: 43%;
        width: 200px;
        margin: 3px;
    }

    .window_otchety .default {
        align-items: center;
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .window_otchety h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }

</style>


<div class="window_otchety">
    <div style="overflow: hidden; padding: 0;" class="tab_otchety">
        <ul>
            <li></li>
        </ul>

            <div> {% include 'partical/Otchety/tabliza_otchety.html' %}</div>


    </div>
</div>
<style>
    .window_otchety .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_otchety .jqx-tabs-content-element {
        overflow: hidden;
    }

    .window_otchety .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

</style>


<script>


    class WindowOtchety {
        constructor($window_otchety, $tab, $btn_open_window_otchety) {
            let self = this;
            this.$window = $window_otchety;
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_otchety;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: 550,
                width: 1200,
                title: 'Отчеты',
                autoOpen: false,
                resizable: true,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: 'calc(100% -24px)',
                        width: '100%',
                        theme: 'arctic',
                    });
                }
            });

            this.on_close();
        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_otchety = $('.window_otchety');
    let $tab_otchety = $('.tab_otchety');
    $(function () {
        new WindowOtchety($window_otchety, $tab_otchety, $btn_open_window_otchety);
    })

</script>