<style>
    .window_anketi .jqx-tabs-headerWrapper {
        display: none;
    }

    .window_anketi .jqx-window-header {
        height: 16px;
        padding: 7px;
    }

    .novaya_anketa .FixP {
        width: 55%;

    }

    .novaya_anketa .FixP label {

        width: auto;

    }

    .novaya_anketa .doptext {
        margin: 7px 5px 7px 0;
    }

    .novaya_anketa p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .novaya_anketa label {
        margin: 7px 5px 7px 0;
        width: 45%;
        float: left;
        text-align: right;
        height: auto;
    }

    .novaya_anketa select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .novaya_anketa input [type="text"] {
        width: 245px !important;
    }

    input[type="date" i] {
        width: 250px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    .novaya_anketa input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }


    .novaya_anketa .save_anketa {
        position: relative;
        left: 39%;
        width: 10%;
        margin: 3px;
    }

    .novaya_anketa .pechat_anketa {
        position: absolute;
        right: 39%;
        width: 10%;
        margin: 3px;
        padding: 5px;
    }

    .novaya_anketa .default {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }


    .novaya_anketa .text {
        width: 45%;
        float: left;
        text-align: right;
        height: auto;
        margin: 7px 5px 7px 0;
    }

    .novaya_anketa .doptext {
        float: right;
        text-align: left;
        margin-left: 2px;
    }

    .novaya_anketa h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }


</style>

<div class="window_anketi">
    <div style="overflow: hidden; padding: 0" class="tab_anketi">
        <ul>
            <li></li>
        </ul>

        <div class="tab_beremennya_anketi">
            <form id="novaya_anketa" class="novaya_anketa" action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <div class="default">
                    {{ anketa_form.nomer_anketi.label_tag }}
                    {{ anketa_form.nomer_anketi }}
                </div>
                <div class="default">
                    {{ anketa_form.data_zapolneniya_anketi_vrachem.label_tag }}
                    {{ anketa_form.data_zapolneniya_anketi_vrachem }}
                </div>
                <div class="default">
                    {{ anketa_form.familiya_vracha.label_tag }}
                    {{ anketa_form.familiya_vracha }}
                </div>
                <div class="default">
                    {{ anketa_form.ves_beremennoy.label_tag }}
                    {{ anketa_form.ves_beremennoy }}
                    <div class="doptext">кг</div>
                </div>
                <div class="default">
                    <div class="text">Срок беременности, нед.:</div>
                    <div class="FixP">{{ anketa_srok_beremennosti_form.as_p }}</div>
                </div>

                <h3>Осложнения текущей беременности</h3>
                <div class="default">
                    <div class="text">Особенности протекания беременности:</div>
                    <div class="FixP">{{ anketa_osobennosti_form.as_p }}</div>
                </div>

                <div class="default">
                    <div class="text">Угроза прерывания:</div>
                    <div style="display: inherit" class="FixP">
                        {{ anketa_form.ugroza_prerivaniya_do_22.label_tag }}
                        {{ anketa_form.ugroza_prerivaniya_do_22 }}

                        {{ anketa_form.ugroza_prerivaniya_posle_22.label_tag }}
                        {{ anketa_form.ugroza_prerivaniya_posle_22 }}
                    </div>
                </div>

                <div class="default">
                    <div class="text">Антифосфилипидный синдром:</div>
                    <div style="display: inherit" class="FixP">
                        {{ anketa_form.antifosfolipidniy_sindrom }}
                        {{ anketa_form.antifosfolipidniy_sindrom.label_tag }}
                    </div>
                </div>
                <div class="default">
                    {{ anketa_form.preeklampsiya.label_tag }}
                    {{ anketa_form.preeklampsiya }}
                </div>
                <div class="default">
                    {{ anketa_form.rezus_sensibilizaciya.label_tag }}
                    {{ anketa_form.rezus_sensibilizaciya }}
                </div>
                <div class="default">
                    {{ anketa_form.abo_sensibilizaciya.label_tag }}
                    {{ anketa_form.abo_sensibilizaciya }}
                    <div class="doptext">Eсть</div>
                </div>
                <div class="default">
                    {{ anketa_form.fetoplacentarnaya_nedostatochnost.label_tag }}
                    {{ anketa_form.fetoplacentarnaya_nedostatochnost }}
                </div>
                <div class="default">
                    <div class="text">Нарушение околоплодных вод:</div>
                    <div class="FixP">{{ anketa_narushenie_form.as_p }}</div>
                </div>
                <div class="default">
                    {{ anketa_form.nepravilnoe_polojenie_ploda.label_tag }}
                    {{ anketa_form.nepravilnoe_polojenie_ploda }}
                </div>
                <div class="default">
                    <div class="text">Обвитие пуповиной:</div>
                    <div style="display: inherit" class="FixP">
                        {{ anketa_form.obvitie_pupovini }}
                        {{ anketa_form.obvitie_pupovini.label_tag }}
                    </div>
                </div>
                <div class="default">
                    {{ anketa_form.mnogoplodie.label_tag }}
                    {{ anketa_form.mnogoplodie }}
                </div>
                <h3>Состояние плода</h3>

                <div class="default">
                    <div class="text">Крупный плод:</div>
                    <div style="display: inherit" class="FixP">
                        {{ anketa_form.krupniy_plod }}
                        {{ anketa_form.krupniy_plod.label_tag }}
                    </div>
                </div>

                <div class="default">
                    {{ anketa_form.predlejanie_placenti.label_tag }}
                    {{ anketa_form.predlejanie_placenti }}
                </div>

                <div class="default">
                    {{ anketa_form.uroven_papp_a.label_tag }}
                    {{ anketa_form.uroven_papp_a }}
                </div>

                <div class="default">
                    {{ anketa_form.uroven_beta_hgch.label_tag }}
                    {{ anketa_form.uroven_beta_hgch }}
                </div>

                <div class="default">
                    <div class="text">Факт проведения узи в скрининговые сроки:</div>
                    <div class="FixP">{{ anketa_fakt_form.as_p }}</div>
                </div>

                <div class="default">
                    <div class="text">Несоответствие данных УЗИ сроку гестации:</div>
                    <div class="FixP">{{ anketa_nesootvetstvie_form.as_p }}</div>
                </div>

                <div class="default">
                    {{ anketa_form.nalichie_vpr_po_rezultatam_uzi.label_tag }}
                    {{ anketa_form.nalichie_vpr_po_rezultatam_uzi }}
                </div>

                <div class="default">{{ anketa_form.data_provedeniya_prenatalnogo_konsiliuma.label_tag }}
                    <div style="display: inherit" class="FixP">
                        {{ anketa_form.data_provedeniya_prenatalnogo_konsiliuma }}
                        {{ anketa_form.nomer_protokola.label_tag }}
                        {{ anketa_form.nomer_protokola }}
                    </div>
                </div>

                <div class="default">
                    {{ anketa_form.obshee_sostoyanie_ploda.label_tag }}
                    {{ anketa_form.obshee_sostoyanie_ploda }}
                </div>

                <div class="default">
                    <div class="text">Направлена на экстренное родоразрешение:</div>
                    <div class="FixP">
                        {{ anketa_form.napravlena_na_extrennoe_rodorazreshenie }}
                        {{ anketa_form.napravlena_na_extrennoe_rodorazreshenie.label_tag }}
                    </div>
                </div>

                <h3>Заключение врача</h3>

                <div class="default">
                    {{ anketa_form.diagnoz_osnovnoy_mkb10.label_tag }}
                    {{ anketa_form.diagnoz_osnovnoy_mkb10 }}
                </div>

                <div class="default">
                    {{ anketa_form.diagnoz_oslojneniya_mkb10.label_tag }}
                    {{ anketa_form.diagnoz_oslojneniya_mkb10 }}
                </div>

                <div class="default">
                    {{ anketa_form.diagnoz_soputstvuyshiy_mkb10.label_tag }}
                    {{ anketa_form.diagnoz_soputstvuyshiy_mkb10 }}
                </div>

                <div class="default">
                    {{ anketa_form.dopolnitelnie_zamechaniya_vracha.label_tag }}
                    {{ anketa_form.dopolnitelnie_zamechaniya_vracha }}
                </div>

                <div style="position: sticky; bottom: 0;" class="default">
                    <button class="menubtn save_anketa" type="submit">Сохранить</button>
                    <button class="menubtn pechat_anketa" type="submit">Печать</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>


    class WindowAnketi {
        constructor($window_anketi, $tab, $btn_open_window_anketi) {
            let self = this;
            this.$window = $($window_anketi);
            this.$tab = $tab;
            this.$btn_open_window = $btn_open_window_anketi;
            this.$window.jqxWindow({
                position: {x: '15%', y: '10%'},
                maxHeight: 1000,
                maxWidth: 2200,
                minHeight: 400,
                minWidth: 700,
                theme: 'arctic',
                height: '70%',
                width: '70%',
                title: 'Анкеты',
                autoOpen: false,
                resizable: true,
                draggable: true,
                initContent: function () {
                    $(self.$tab).jqxTabs({
                        height: 'calc(100% -24px)',
                        width: '100%',
                        theme: 'arctic',
                    });
                }
            });

            this.on_close();
        }

        open2(id) {
            this.$window.find(`#id_nomer_anketi option[value="${id}"]`).prop('selected', true);
            this.$window.jqxWindow('open');
        }

        open(id = 0) {
            let self = this;
            if (id) {
                fetch(`/api/anketa/${id}`).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            self.$window.find('#id_nomer_anketi').val(data['nomer_anketi']);
                            self.$window.find('#id_data_zapolneniya_anketi_vrachem').val(data['data_zapolneniya_anketi_vrachem']);
                            self.$window.find('#id_familiya_vracha').val(data['familiya_vracha']);
                            self.$window.find('#id_ves_beremennoy').val(data['ves_beremennoy']);
                            self.$window.find('#id_srok_beremennosti_po_obektivnim_dannim').val(data['srok_beremennosti_po_obektivnim_dannim']);
                            self.$window.find('#id_srok_beremennosti_po_dannim_uzi').val(data['srok_beremennosti_po_dannim_uzi']);
                            self.$window.find('#id_srok_beremennosti_po_pervomu').val(data['srok_beremennosti_po_pervomu']);
                            self.$window.find('#id_osobennosti_protekaniya_beremennosti_krovynistie').prop('checked', data['osobennosti_protekaniya_beremennosti_krovynistie']);
                            self.$window.find('#id_osobennosti_protekaniya_beremennosti_virazenniy_toxikoz').prop('checked', data['osobennosti_protekaniya_beremennosti_virazenniy_toxikoz']);
                            self.$window.find('#id_osobennosti_protekaniya_beremennosti_krovotechenie').prop('checked', data['osobennosti_protekaniya_beremennosti_krovotechenie']);
                            self.$window.find('#id_ugroza_prerivaniya_do_22').prop('checked', data['ugroza_prerivaniya_do_22']);
                            self.$window.find('#id_ugroza_prerivaniya_posle_22').prop('checked', data['ugroza_prerivaniya_posle_22']);
                            self.$window.find('#id_antifosfolipidniy_sindrom').prop('checked', data['antifosfolipidniy_sindrom']);
                            self.$window.find('#id_preeklampsiya').val(data['preeklampsiya']);
                            self.$window.find('#id_rezus_sensibilizaciya').val(data['rezus_sensibilizaciya']);
                            self.$window.find('#id_abo_sensibilizaciya').prop('checked', data['abo_sensibilizaciya']);
                            self.$window.find('#id_fetoplacentarnaya_nedostatochnost').val(data['fetoplacentarnaya_nedostatochnost']);
                            self.$window.find('#id_narushenie_okoplodnih_vod_mnogovodie').prop('checked', data['narushenie_okoplodnih_vod_mnogovodie']);
                            self.$window.find('#id_narushenie_okoplodnih_vod_malovodie').prop('checked', data['narushenie_okoplodnih_vod_malovodie']);
                            self.$window.find('#id_narushenie_okoplodnih_vod_mekonialnie').prop('checked', data['narushenie_okoplodnih_vod_mekonialnie']);
                            self.$window.find('#id_nepravilnoe_polojenie_ploda').val(data['nepravilnoe_polojenie_ploda']);
                            self.$window.find('#id_obvitie_pupovini').prop('checked', data['obvitie_pupovini']);
                            self.$window.find('#id_mnogoplodie').val(data['mnogoplodie']);
                            self.$window.find('#id_krupniy_plod').prop('checked', data['krupniy_plod']);
                            self.$window.find('#id_predlejanie_placenti').val(data['predlejanie_placenti']);
                            self.$window.find('#id_uroven_papp_a').val(data['uroven_papp_a']);
                            self.$window.find('#id_uroven_beta_hgch').val(data['uroven_beta_hgch']);
                            self.$window.find('#id_fakt_provedeniya_uzi_10_14').prop('checked', data['fakt_provedeniya_uzi_10_14']);
                            self.$window.find('#id_fakt_provedeniya_uzi_20_24').prop('checked', data['fakt_provedeniya_uzi_20_24']);
                            self.$window.find('#id_fakt_provedeniya_uzi_32_34').prop('checked', data['fakt_provedeniya_uzi_32_34']);
                            self.$window.find('#id_nesootvetstvie_dannih_uzi_soot').prop('checked', data['nesootvetstvie_dannih_uzi_soot']);
                            self.$window.find('#id_nesootvetstvie_dannih_uzi_fetomerii').prop('checked', data['nesootvetstvie_dannih_uzi_fetomerii']);
                            self.$window.find('#id_nesootvetstvie_dannih_uzi_placenti').prop('checked', data['nesootvetstvie_dannih_uzi_placenti']);
                            self.$window.find('#id_nalichie_vpr_po_rezultatam_uzi').val(data['nalichie_vpr_po_rezultatam_uzi']);
                            self.$window.find('#id_data_provedeniya_prenatalnogo_konsiliuma').val(data['data_provedeniya_prenatalnogo_konsiliuma']);
                            self.$window.find('#id_obshee_sostoyanie_ploda').val(data['obshee_sostoyanie_ploda']);
                            self.$window.find('#id_nomer_protokola').val(data['nomer_protokola']);
                            self.$window.find('#id_napravlena_na_extrennoe_rodorazreshenie').prop('checked', data['napravlena_na_extrennoe_rodorazreshenie']);
                            self.$window.find('#id_diagnoz_osnovnoy_mkb10').val(data['diagnoz_osnovnoy_mkb10']);
                            self.$window.find('#id_diagnoz_oslojneniya_mkb10').val(data['diagnoz_oslojneniya_mkb10']);
                            self.$window.find('#id_diagnoz_soputstvuyshiy_mkb10').val(data['diagnoz_soputstvuyshiy_mkb10']);
                            self.$window.find('#id_dopolnitelnie_zamechaniya_vracha').val(data['dopolnitelnie_zamechaniya_vracha']);

                            self.$window.jqxWindow('open');
                            self.$window.jqxWindow('bringToFront');
                        }).catch(function () {
                            alert('Не могу получить JSON ');
                        })

                    } else {
                        alert('Не могу получить данные');
                    }
                })

            }

        }

        on_close() {
            let self = this;
            this.$window.on('close', function () {
                self.$btn_open_window.jqxToggleButton('toggled', false);
            });
        }

    }


    let $window_anketi = $('.window_anketi');
    let $tab_anketi = $('.tab_anketi');
    let obj_window_anketi = new WindowAnketi($window_anketi, $tab_anketi, $btn_open_window_anketi, $btn_open_window_novaya_anketa);
    $(function () {
        new WindowAnketi($window_anketi, $tab_anketi, $btn_open_window_anketi)
    })

</script>