<div class="default">
    <div class="text"> Дата исхода:</div>
    <div class='data_ishoda'></div>
</div>

<div class="default">
    <div class="text">Место исхода:</div>
    <div class="mesto_ishoda"></div>
</div>

<div class="default">
    <div class="text">Степерь риска после исхода:</div>
    <div class="stepen_riska_posle_ishoda"></div>
</div>

<div class="default">
    <div class="text">Гибель плода в антенатальном периоде:</div>
    <div class="gibel_ploda"></div>
</div>

<div class="default">
    <div class="text">Исход беременности:</div>
    <div class="ishod_beremennosti"></div>
</div>

<div class="default">
    <div class="text">Кесарево сечение:</div>
    <div class="kesarevo_sechenie1"></div>
    <div class="kesarevo_sechenie2"></div>
    <div class="kesarevo_sechenie3"></div>
</div>

<h3>Осложнения при родоразрешении</h3>


<div class="default">
    <div class="text">Проэклампсия:</div>
    <div class="preeklampsiya"></div>
</div>

<div class="default">
    <div class="text">Предлежание плаценты:</div>
    <div class="predlejanie_placenti"></div>
</div>

<div class="default">
    <div class="text">Преждевр. отслойка норм.расп. плаценты:</div>
    <div class="prejdevrem_otsloyka">есть</div>
</div>

<div class="default">
    <div class="text">Аномалии родовой деятельности:</div>
    <div class="anomalii_rodovoy_deyatelnosti">есть</div>
</div>

<div class="default">
    <div class="text">Клинически узкий таз:</div>
    <div class="klinicheski_uzkiy_taz">есть</div>
</div>

<div class="default">
    <div class="text">Разрыв матки:</div>
    <div class="razriv_matki">есть</div>
</div>

<div class="default">
    <div class="text">ДВС-синдром:</div>
    <div class="dvc_sindrom">есть</div>
</div>

<div class="default">
    <div class="text">Эмболия:</div>
    <div class="emboliya">есть</div>
</div>

<h3>Случай материнской смертности</h3>

<div class="default">
    <div class="text">Смерть матери:</div>
    <div class="smert_materi">да</div>
</div>

<div class="default">
    <div class="text"> Дата смерти матери:</div>
    <div class='data_smerti_materi'></div>
</div>

<div class="default">
    <div class="text"> Причина смерти по МКБ10:</div>
    <div class='prichina_smerti_materi_mkb10'></div>
</div>


<h3>Новорожденные</h3>

<div class="default">
    <div class="text">Количество новорожденных:</div>
    <div class=""></div>
</div>

{% include 'beremennya/beremennaya_tabs/tabliza_novorojdenniy.html' %}

<div class="default">
    <div class="text">Печать:</div>
    <div>
        <input class="qxButton15" type="button" value="Основные данные"/>
    </div>
    <div>
        <input class="jqxButton16" type="button" value="Анкета"/>
    </div>
</div>

<script>
    $(document).ready(async function () {
        let sourse_mesto_ishoda;
        let sourse_stepen_riska_posle_ishoda;
        let sourse_gibel_ploda;
        let sourse_ishod_beremennosti;
        let sourse_kesarevo_sechenie1;
        let sourse_kesarevo_sechenie2;
        let sourse_kesarevo_sechenie3;
        let sourse_mkb10;

        await get_mega_json.then(function (data) {
            sourse_mesto_ishoda = data['mesto_ishoda'].map(item => item['nazvanie']);
            sourse_stepen_riska_posle_ishoda = data['stepen_riska_posle_ishoda'].map(item => item['nazvanie']);
            sourse_gibel_ploda = data['gibel_ploda'].map(item => item['nazvanie']);
            sourse_ishod_beremennosti = data['ishod_beremennosti'].map(item => item['nazvanie']);
            sourse_kesarevo_sechenie1 = data['kesarevo_sechenie1'].map(item => item['nazvanie']);
            sourse_kesarevo_sechenie2 = data['kesarevo_sechenie2'].map(item => item['nazvanie']);
            sourse_kesarevo_sechenie3 = data['kesarevo_sechenie3'].map(item => item['nazvanie']);
            sourse_mkb10 = data['mkb10'].map(item => item['nazvanie']);
        })
        //Дата заполения анкеты врачем
        $(".data_ishoda").jqxDateTimeInput({width: '120px', height: '25px', theme: 'arctic'});

        //Место исхода
        $(".mesto_ishoda").jqxComboBox({
            selectedIndex: 1,
            source: sourse_mesto_ishoda,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Степерь риска после исхода
        $(".stepen_riska_posle_ishoda").jqxComboBox({
            selectedIndex: 1,
            source: sourse_stepen_riska_posle_ishoda,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Гибель плода в антенатальном периоде
        $(".gibel_ploda").jqxComboBox({
            selectedIndex: 1,
            source: sourse_gibel_ploda,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Исход беременности
        $(".ishod_beremennosti").jqxComboBox({
            selectedIndex: 1,
            source: sourse_ishod_beremennosti,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Кесарево сечение
        $(".kesarevo_sechenie1").jqxComboBox({
            selectedIndex: 1,
            source: sourse_kesarevo_sechenie1,
            width: '150px',
            height: '30px',
            theme: 'arctic',
        });

        $(".kesarevo_sechenie2").jqxComboBox({
            selectedIndex: 1,
            source: sourse_kesarevo_sechenie2,
            width: '150px',
            height: '30px',
            theme: 'arctic',
        });

        $(".kesarevo_sechenie3").jqxComboBox({
            selectedIndex: 1,
            source: sourse_kesarevo_sechenie3,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Проэклампсия

        //Предлежание плаценты

        //Преждевр. отслойка норм.расп. плаценты
        $('.prejdevrem_otsloyka').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Аномалии родовой деятельности
        $('.anomalii_rodovoy_deyatelnosti').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Клинически узкий таз
        $('.klinicheski_uzkiy_taz').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Разрыв матки
        $('.razriv_matki').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //ДВС-синдром
        $('.dvc_sindrom').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Эмболия
        $('.emboliya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Смерть матери
        $('.smert_materi').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Дата смерти матери
        $(".data_smerti_materi").jqxDateTimeInput({width: '120px', height: '25px', theme: 'arctic'});

        //Причина смерти по МКБ10
        $(".prichina_smerti_materi_mkb10").jqxComboBox({
            selectedIndex: 1,
            source: sourse_mkb10,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
    });
</script>