<style>
    .window_anketi  .jqx-window-header{
        height: 16px;
        padding: 7px;
    }
    .ishod .FixP {
        width: 60%;
    }

    .ishod .FixP label {
        width: auto;
    }

    .ishod .doptext {
        margin: 7px 5px 7px 0;
    }

    .ishod p {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }

    .ishod label {
        margin: 7px 5px 7px 0;
        width: 45%;
        float: left;
        text-align: right;
        height: auto;
    }

    .ishod select {
        margin: 4px 3px 4px 3px;
        width: 250px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .ishod input [type="text"] {
        width: 245px !important;
        margin: 4px 3px 4px 3px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px
    }

    input[type="date" i] {
        width: 250px !important;
        border-color: #cccccc;
        color: #555555;
        background-color: #ffffff;
    }

    .ishod input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin: 7px 5px 7px 0;
        opacity: 1;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#eaeaea));
        color: #333333;
        text-shadow: 0 1px 1px rgb(255 255 255);
        border-radius: 4px;
        font-family: Verdana, Arial, sans-serif;
        border: 1px solid transparent;
        outline: none;
    }

    .ishod .save_ishod {
        position: relative;
        left: 45%;
        width: 200px;
        margin: 3px;
    }

    .ishod .default {
        margin: 1px 0 1px 0;
        background-color: #dee0e2;
        float: left;
        width: 100%;
        display: inline-flex;
    }


    .ishod .text {
        width: 45%;
        float: left;
        text-align: right;
        height: auto;
        margin: 7px 5px 7px 0;
    }

    .ishod .doptext {
        float: right;
        text-align: left;
        margin-left: 2px;
    }

    .ishod h3 {
        font-style: italic;
        text-align: center;
        margin: 0;
    }

</style>
<form class="ishod" action="{% url 'home' %}" method="post">
    {% csrf_token %}


    <div class="default">
        {{ ishod_form.data_ishoda.label_tag }}
        {{ ishod_form.data_ishoda }}
    </div>

    <div class="default">
        {{ ishod_form.mesto_ishoda.label_tag }}
        {{ ishod_form.mesto_ishoda }}
    </div>

    <div class="default">
        {{ ishod_form.stepen_riska_posle_ishoda.label_tag }}
        {{ ishod_form.stepen_riska_posle_ishoda }}
    </div>

    <div class="default">
        {{ ishod_form.gibel_ploda.label_tag }}
        {{ ishod_form.gibel_ploda }}

    </div>

    <div class="default">
        {{ ishod_form.ishod_beremennosti.label_tag }}
        {{ ishod_form.ishod_beremennosti }}
    </div>

    <div class="default">
        <div class="text">Кесарево сечение:</div>
        {{ ishod_form.kesarevo_sechenie1 }}
        {{ ishod_form.kesarevo_sechenie2 }}
        {{ ishod_form.kesarevo_sechenie3 }}
    </div>


    <h3>Осложнения при родоразрешении</h3>


    <div class="default">
        {{ ishod_form.preeklampsiya.label_tag }}
        {{ ishod_form.preeklampsiya }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.predlejanie_placenti.label_tag }}
        {{ ishod_form.predlejanie_placenti }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.prejdevrem_otsloyka.label_tag }}
        {{ ishod_form.prejdevrem_otsloyka }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.anomalii_rodovoy_deyatelnosti.label_tag }}
        {{ ishod_form.anomalii_rodovoy_deyatelnosti }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.klinicheski_uzkiy_taz.label_tag }}
        {{ ishod_form.klinicheski_uzkiy_taz }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.razriv_matki.label_tag }}
        {{ ishod_form.razriv_matki }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.dvc_sindrom.label_tag }}
        {{ ishod_form.dvc_sindrom }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.emboliya.label_tag }}
        {{ ishod_form.emboliya }}
        <div class="doptext">есть</div>
    </div>

    <h3>Случай материнской смертности</h3>

    <div class="default">
        {{ ishod_form.smert_materi.label_tag }}
        {{ ishod_form.smert_materi }}
        <div class="doptext">есть</div>
    </div>

    <div class="default">
        {{ ishod_form.data_smerti_materi.label_tag }}
        {{ ishod_form.data_smerti_materi }}
    </div>

    <div class="default">
        {{ ishod_form.prichina_smerti_materi_mkb10.label_tag }}
        {{ ishod_form.prichina_smerti_materi_mkb10 }}
    </div>


    <h3>Новорожденные</h3>

    <div class="default">
        <div class="text">Количество новорожденных:</div>
    </div>

    {% include 'beremennya/beremennaya_tabs/tabliza_novorojdenniy.html' %}

{#    <div class="default">#}
{#        <div class="text">Печать:</div>#}
{#        <div>#}
{#            <input class="qxButton15" type="button" value="Основные данные"/>#}
{#        </div>#}
{#        <div>#}
{#            <input class="jqxButton16" type="button" value="Анкета"/>#}
{#        </div>#}
{#    </div>#}
    <div style="position: sticky; bottom: 0; z-index: 9999!important;" class="default">
        <button class="menubtn save_ishod">Сохранить</button>
    </div>
</form>

{#<script>#}
{#    $(document).ready(async function () {#}
{#        let sourse_mesto_ishoda;#}
{#        let sourse_stepen_riska_posle_ishoda;#}
{#        let sourse_gibel_ploda;#}
{#        let sourse_ishod_beremennosti;#}
{#        let sourse_kesarevo_sechenie1;#}
{#        let sourse_kesarevo_sechenie2;#}
{#        let sourse_kesarevo_sechenie3;#}
{#        let sourse_mkb10;#}
{##}
{#        await get_mega_json.then(function (data) {#}
{#            sourse_mesto_ishoda = data['mesto_ishoda'].map(item => item['nazvanie']);#}
{#            sourse_stepen_riska_posle_ishoda = data['stepen_riska_posle_ishoda'].map(item => item['nazvanie']);#}
{#            sourse_gibel_ploda = data['gibel_ploda'].map(item => item['nazvanie']);#}
{#            sourse_ishod_beremennosti = data['ishod_beremennosti'].map(item => item['nazvanie']);#}
{#            sourse_kesarevo_sechenie1 = data['kesarevo_sechenie1'].map(item => item['nazvanie']);#}
{#            sourse_kesarevo_sechenie2 = data['kesarevo_sechenie2'].map(item => item['nazvanie']);#}
{#            sourse_kesarevo_sechenie3 = data['kesarevo_sechenie3'].map(item => item['nazvanie']);#}
{#            sourse_mkb10 = data['mkb10'].map(item => item['nazvanie']);#}
{#        })#}
{#        //Дата заполения анкеты врачем#}
{#        $(".data_ishoda").jqxDateTimeInput({#}
{#            width: '250px',#}
{#            height: '25px',#}
{#            formatString: 'dd.MM.yyyy',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Место исхода#}
{#        $(".mesto_ishoda").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_mesto_ishoda,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Степерь риска после исхода#}
{#        $(".stepen_riska_posle_ishoda").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_stepen_riska_posle_ishoda,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Гибель плода в антенатальном периоде#}
{#        $(".gibel_ploda").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_gibel_ploda,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Исход беременности#}
{#        $(".ishod_beremennosti").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_ishod_beremennosti,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Кесарево сечение#}
{#        $(".kesarevo_sechenie1").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_kesarevo_sechenie1,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic',#}
{#        });#}
{##}
{#        $(".kesarevo_sechenie2").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_kesarevo_sechenie2,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic',#}
{#        });#}
{##}
{#        $(".kesarevo_sechenie3").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_kesarevo_sechenie3,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Проэклампсия#}
{##}
{#        //Предлежание плаценты#}
{##}
{#        //Преждевр. отслойка норм.расп. плаценты#}
{#        $('.prejdevrem_otsloyka').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Аномалии родовой деятельности#}
{#        $('.anomalii_rodovoy_deyatelnosti').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Клинически узкий таз#}
{#        $('.klinicheski_uzkiy_taz').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Разрыв матки#}
{#        $('.razriv_matki').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //ДВС-синдром#}
{#        $('.dvc_sindrom').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Эмболия#}
{#        $('.emboliya').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Смерть матери#}
{#        $('.smert_materi').jqxCheckBox({width: 'auto', theme: 'arctic'});#}
{##}
{#        //Дата смерти матери#}
{#        $(".data_smerti_materi").jqxDateTimeInput({#}
{#            width: '250px',#}
{#            height: '25px',#}
{#            formatString: 'dd.MM.yyyy',#}
{#            theme: 'arctic'#}
{#        });#}
{##}
{#        //Причина смерти по МКБ10#}
{#        $(".prichina_smerti_materi_mkb10").jqxDropDownList({#}
{#            filterable:true,#}
{#            filterPlaceHolder:"Найти",#}
{#            selectedIndex: 1,#}
{#            source: sourse_mkb10,#}
{#            width: '250px',#}
{#            height: '30px',#}
{#            theme: 'arctic'#}
{#        });#}
{#    });#}
{#</script>#}