<div class="default">
    <div class="text">Степень риска:</div>
    <div class="stepen_riska"></div>
</div>

<div class="default">
    <div class="text">Дата взятия на учет:</div>
    <div class='data_vzyatiya_na_uchet'></div>
</div>

<div class="default">
    <div class="text">Участковый врач:</div>
    <div class="uchastk_vrach"></div>
</div>

<div class="default">
    <div class="text">ФИО беременной:</div>
    <input type="text" class="input fio_beremennoy"/>
</div>

<div class="default">
    <div class="text">Дата рождения:</div>
    </br>
    <div class='data_rozdeniya'></div>
</div>

<div class="default">
    <div class="text">Возраст беременной:</div>
    <input type="number" class='input vozrast' min="0"/>
</div>

<div class="default">
    <div class="text">Место постоянного проживания беременной:</div>
    <div class="mesto_post_prozivaniya_beremennoy"></div>
</div>

<div class="default">
    <div class="text">№ телефона беременной:</div>
    <input type="text" class='phone_beremennoy'/>
</div>

<div class="default">
    <div class="text">№ ОМС беременной:</div>
    <input type="text" class="nomer_oms_beremennoy"/>
</div>


<h3>Социально-биологические факторы</h3>

<div class="default">
    <div class="text">Вредные привычки:</div>
    <div class="vp_kurenie"> курение</div>
    <div class="vp_alkogolism"> алкоголизм</div>
    <div class="vp_narkomaniya"> наркомания</div>
    <div class="vp_toksikomaniya"> токсикомания</div>
</div>

<div class="default">
    <div class="text">Вредные факторы труда и быта:</div>
    <div class="vftib_himicheskie"> химические</div>
    <div class="vftib_radioactive"> радиоактивные</div>
    <div class="vftib_neud_jil_usloviya"> неудовл. жил. условия</div>
    <div class="vftib_priem_lek_sredstv_v_ran_sroki"> приём лекарств. средств в ранние сроки беременности
    </div>
</div>

<div class="default">
    <div class="text">Социально-угрожаемая:</div>
    <div class="socialno_ugrojaemaya"></div>
</div>

<div class="default">
    <div class="text">Семейное положение:</div>
    <div class="semeynoe_polojenie"></div>
</div>

<div class="default">
    <div class="text">Соматические показатели:</div>
    <div class="mujskoi_tip_telosloj"> мужской тип телосложения</div>
    <div class="girsutism"> гирсутизм</div>
</div>

<div class="default">
    <div class="text">Вес беременной, кг:
    </div>
    <input style='margin-top: 3px;' type="number" class='input ves_beremennoy' min="0"/>
</div>

<div class="default">
    <div class="text">Рост беременной, см:
    </div>
    <input style='margin-top: 3px;' type="number" class='input rost_beremennoy' min="0"/>
</div>

<div class="default">
    <div style="display: inline-table">Размеры таза (пельвиометрия), см:</div>
    <div>Distantia spinarum (D.s):
        <div class="ctrl">
            <span id="viewds">0</span>
            <input id="rangeds" type="range" min="0" max="50" step="0.1" value="0">
            <input id="numds" type=number min="0" max="50" step="0,1" value="0" style="width:100px">
        </div>
    </div>
    <div>Distantia cristarum (D.c.):
        <div class="ctrl">
            <span id="viewdc">0</span>
            <input id="rangedc" type="range" min="0" max="50" step="1" value="0">
            <input id="numdc" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Distantia trochanterica (D.t.):
        <div class="ctrl">
            <span id="viewdt">0</span>
            <input id="rangedt" type="range" min="0" max="50" step="1" value="0">
            <input id="numdt" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata diagonalis (C.d.):
        <div class="ctrl">
            <span id="viewcd">0</span>
            <input id="rangecd" type="range" min="0" max="50" step="10" value="0">
            <input id="numcd" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata externa (C.e.):
        <div class="ctrl">
            <span id="viewce">0</span>
            <input id="rangece" type="range" min="0" max="50" step="1" value="0">
            <input id="numce" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata vera (C.v.):
        <div class="ctrl">
            <span id="viewcv">0</span>
            <input id="rangecv" type="range" min="0" max="50" step="1" value="0">
            <input id="numcv" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget" style='font-family: Verdana Arial; font-size: 12px; width: 400px;'>

        <h4>Резус-факторы беременной/отца</h4>
        <div style='margin-top: 10px;' class='jqxRadioButton'>
            <span>+/+</span></div>
        <div style='margin-top: 10px;' class='jqxRadioButton'>
            <span>+/-</span></div>
        <div style='margin-top: 10px;' class='jqxRadioButton'>
            <span>-/+</span></div>
        <div style='margin-top: 10px;' class='jqxRadioButton'>
            <span>-/-</span></div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Взята под наблюдение:
        <div class="acceptInput"> после 12 нед. берем-сти</div>
    </div>
</div>

<div class="default">
    <div class="text">Генетические факторы:
        <div class="jqxComboBox"></div>
    </div>
</div>

<h3>Акушерско-гинекологический анамнез</h3>

<div class="default">
    <div class="text">Менструальная функция:
        <div class="jqxComboBox"></div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Заболевания внутренних половых органов:
        <div class="acceptInput"> воспаление придатков у нерожавшей</div>
        <div class="acceptInput"> опухолевое образование придатков</div>
        <div class="acceptInput"> гипоплазия матки</div>
        <div class="acceptInput"> операции на придатках</div>
        <div class="acceptInput"> истмико-цервикальная недостаточность</div>
        <div class="acceptInput"> воспаление придатков у рожавшей</div>
        <div class="acceptInput"> миома матки</div>
        <div class="acceptInput"> пороки развития матки</div>
        <div class="acceptInput"> операции на матке (кроме кес/сеч)</div>
        <div class="acceptInput"> онкология в анамнезе</div>
    </div>
</div>

<div class="default">
    <div class="text">Бесплодие:
        <div class="jqxComboBox"></div>
    </div>
</div>

<div class="default">
    <div class="text">Тип бесплодия:
        <div class="jqxComboBox"></div>
    </div>
</div>

<h3>Наступление текущей беременности</h3>

<div class="default">
    <div class="text">Наступление беременности:
        <div>В результате ЭКО:
            <div class="jqxComboBox"></div>
            <div class="acceptInput">в результате стимуляции овуляции медикаментозными средствами</div>
        </div>
    </div>
</div>

<div class="default">
    <diV class="jqxWidget">Дата первого дня последн. менс-ции:
        <div id='jqxWidget'>
            <div style="width: 200px;" class='jqxDateTimeInput'></div>
        </div>
    </div>
</div>

<div class="default">
    <div class="text">Паритет беременности:
        <div class="jqxComboBox"></div>
    </div>
</div>

<div class="default">
    <div>Самопроизвольный аборт:
        <div class="jqxComboBox"></div>
    </div>
</div>

<div class="default">
    <div class="text">Внематочная беременность:
        <div class="acceptInput"></div>
    </div>
</div>

<div class="default">
    <div class="text">Резус-конфликтная беременность:
        <div class="acceptInput"></div>
    </div>
</div>

<div class="default">
    <div class="text">Гемолитическая болезнь:
        <div class="acceptInput">плода или новорожденного</div>
    </div>
</div>

<div class="default">
    <div class="text">Искуственный аборт:
        <div class="jqxComboBox"></div>
        <div>Осложнения:
            <div class="jqxComboBox"></div>
        </div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Осложнения беременности(анамнез):
        <div class="acceptInput"> нет</div>
        <div class="acceptInput"> осложн. преэклампсией умеренной</div>
        <div class="acceptInput"> осложн. преэклампсией тяжелой</div>
        <div class="acceptInput"> осложн. эклампсией</div>
        <div class="acceptInput"> осложн. фетоплацент. недостаточностью</div>
        <div class="acceptInput"> осложн. обост. экстрагенит. патологии</div>
        <div class="acceptInput"> осложн. преждеврем. отслойкой плаценты</div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Осложнения родов(анамнез):
        <div>
            <div style='margin-top: 10px;' class='jqxRadioButton'>
                <span>нет</span>
            </div>
            <div style='margin-top: 10px;' class='jqxRadioButton'>
                <span>своевременные</span>
            </div>
            <div style='margin-top: 10px;' class='jqxRadioButton'>
                <span>преждевременные</span>
            </div>
            <div style='margin-top: 10px;' class='jqxRadioButton'>
                <span>запоздалые</span>
            </div>
        </div>
        <div class="acceptInput">осложн. разрывом мягких родовых путей 2-3 степени</div>
        <div class="acceptInput"> осложн. кровотечением</div>
        <div class="acceptInput"> осложн. гнойно-септической инфекцией</div>
        <div class="acceptInput"> осложн. мертворождением</div>
        <div class="text">кесарево сечение:
            <div class="jqxComboBox"></div>
        </div>
        <div class="acceptInput"> рубец на матке после миомэктомии</div>
        <div class="acceptInput"> осложн. аномалиями родовой деятельности</div>
        <div class="acceptInput"> клинически узкий таз</div>
        <div class="acceptInput"> плодоразрушающая операция</div>
    </div>
    <div class="jqxWidget">Новорожденный или плод(анамнез):
        <div class="acceptInput"> смерть в неонатальном периоде</div>
        <div class="acceptInput"> вес новорожденного был менее 2500г или более 4000г</div>
        <div class="acceptInput"> неврологические нарушения</div>
        <div class="acceptInput"> ВПР</div>
        <div class="acceptInput"> перинатальные потери</div>
    </div>
</div>

<h3>Экстрагенитальные заболевания</h3>

<div class="default">
    <div class="jqxWidget">Инфекционные болезни:
        <div class="acceptInput"> грипп</div>
        <div class="acceptInput"> ОРВИ</div>
        <div class="acceptInput"> сифилис</div>
        <div class="acceptInput"> туберкулез</div>
        <div class="acceptInput"> ВИЧ-инфекция</div>
        <div class="acceptInput"> вирусный гепатит</div>
        <div class="acceptInput"> краснуха</div>
        <div class="acceptInput"> токсоплазмоз</div>
        <div class="acceptInput"> ЦМВИ</div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Злокачественные новообразования:
        <div class="acceptInput"> наличик в прошлом или настоящем</div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Болезни эндокринной системы:
        <div>сахарный диабет:
            <div class="jqxComboBox"></div>
        </div>
        <div>гестационный сахарный диабет:
            <div class="jqxComboBox"></div>
        </div>
        <div>заболевания щитовидной железы:
            <div class="jqxComboBox"></div>
        </div>
        <div>АКО:
            <div class="jqxComboBox"></div>
        </div>
        <div class="acceptInput"> диэнцефальный синдром</div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Болезни крови и кроветворных органов:
        <div>анемия всех степеней:
            <div class="jqxComboBox"></div>
        </div>
        <div>тромбоцитопения:
            <div class="jqxComboBox"></div>
        </div>
        <div>тромбозы:
            <div class="jqxComboBox"></div>
        </div>
        <div>коагулопатия:
            <div class="jqxComboBox"></div>
        </div>
    </div>
</div>

<div class="default">
    <div class="jqxWidget">Психические расстройства:
        <div>психозы:
            <div class="jqxComboBox"></div>
        </div>
        <div>шизофрения:
            <div class="jqxComboBox"></div>
        </div>
        <div>нарушения личности:
            <div class="jqxComboBox"></div>
        </div>
        <div>умственная отсталость:
            <div class="jqxComboBox"></div>
        </div>
    </div>
</div>

<div class="default">
    <div class="text">Болезни нервной системы и органов чувств:</div>
    <div>наследственные и дегенератичные болезни ЦНС:
        <div class="jqxComboBox"></div>
    </div>
    <div>воспалительные болезни ЦНС:
        <div class="jqxComboBox"></div>
    </div>
    <div>миопия высокой степени или миопия с дистрофическими изменениями:
        <div class="jqxComboBox"></div>
    </div>
</div>
<script>
    $(document).ready(async function () {
        let sourse_stepen_riska;
        let sourse_tip_besplodie;


        await get_mega_json.then(function (data) {
            sourse_stepen_riska = data['stepen_riska'].map(item => item['nazvanie']);
            sourse_tip_besplodie = data['tip_besplodie'].map(item => item['nazvanie']);
        })

        console.log(sourse_stepen_riska);
        console.log(sourse_tip_besplodie);


        $(".stepen_riska").jqxComboBox({
            selectedIndex: 1,
            source: sourse_stepen_riska,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $(".data_vzyatiya_na_uchet").jqxDateTimeInput({width: '250px', height: '25px', theme: 'arctic'});

        $(".uchastk_vrach").jqxComboBox({
            selectedIndex: 1,
            source: source,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $(".data_rozdeniya").jqxDateTimeInput({width: '250px', height: '25px', theme: 'arctic'});

        $(".mesto_post_prozivaniya_beremennoy").jqxComboBox({
            selectedIndex: 1,
            source: source,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        //номер телефона с маской
        $(".phone_beremennoy").jqxMaskedInput({
            width: '250px',
            height: '25px',
            mask: '#(###)###-##-##',
            theme: 'arctic'
        });

        //номер ОМС с маской
        $(".nomer_oms_beremennoy").jqxMaskedInput({
            width: '250px',
            height: '25px',
            mask: '## ## ########',
            theme: 'arctic'
        });

        $('.vp_kurenie').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_alkogolism').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_narkomaniya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_toksikomaniya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_himicheskie').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_radioactive').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_neud_jil_usloviya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_priem_lek_sredstv_v_ran_sroki').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.socialno_ugrojaemaya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $(".semeynoe_polojenie").jqxComboBox({
            selectedIndex: 1,
            source: source,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $('.mujskoi_tip_telosloj').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.girsutism').jqxCheckBox({width: 'auto', theme: 'arctic'});


        //ползунок ds
        $(document).ready(function () {
            const num = document.getElementById('numds');
            const rng = document.getElementById('rangeds');
            const view = document.getElementById('viewds');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок dc
        $(document).ready(function () {
            const num = document.getElementById('numdc');
            const rng = document.getElementById('rangedc');
            const view = document.getElementById('viewdc');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок dt
        $(document).ready(function () {
            const num = document.getElementById('numdt');
            const rng = document.getElementById('rangedt');
            const view = document.getElementById('viewdt');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок cd
        $(document).ready(function () {
            const num = document.getElementById('numcd');
            const rng = document.getElementById('rangecd');
            const view = document.getElementById('viewcd');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок ce
        $(document).ready(function () {
            const num = document.getElementById('numce');
            const rng = document.getElementById('rangece');
            const view = document.getElementById('viewce');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок cv
        $(document).ready(function () {
            const num = document.getElementById('numcv');
            const rng = document.getElementById('rangecv');
            const view = document.getElementById('viewcv');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
    });
</script>