<div class="default">
    <div class="text">Степень риска:</div>
    <div class="stepen_riska"></div>
</div>

<div class="default">
    <div class="text">Дата взятия на учет:</div>
    <div class='data_vzyatiya_na_uchet'></div>
</div>

<div class="default">
    <div class="text">Участковый врач:</div>
    <div class="uchastk_vrach"></div>
</div>

<div class="default">
    <div class="text">ФИО беременной:</div>
    <input type="text" class="input fio_beremennoy"/>
</div>

<div class="default">
    <div class="text">Дата рождения:</div>
    </br>
    <div class='data_rozdeniya'></div>
</div>

<div class="default">
    <div class="text">Возраст беременной:</div>
    <input type="number" class='input vozrast' min="0"/>
</div>

<div class="default">
    <div class="text">Место постоянного проживания беременной:</div>
    <div class="mesto_post_prozivaniya_beremennoy"></div>
</div>

<div class="default">
    <div class="text">№ телефона беременной:</div>
    <input type="text" class='phone_beremennoy'/>
</div>

<div class="default">
    <div class="text">№ ОМС беременной:</div>
    <input type="text" class="nomer_oms_beremennoy"/>
</div>


<h3>Социально-биологические факторы</h3>

<div class="default">
    <div class="text">Вредные привычки:</div>
    <div class="vp_kurenie"> курение</div>
    <div class="vp_alkogolism"> алкоголизм</div>
    <div class="vp_narkomaniya"> наркомания</div>
    <div class="vp_toksikomaniya"> токсикомания</div>
</div>

<div class="default">
    <div class="text">Вредные факторы труда и быта:</div>
    <div class="vftib_himicheskie"> химические</div>
    <div class="vftib_radioactive"> радиоактивные</div>
    <div class="vftib_neud_jil_usloviya"> неудовл. жил. условия</div>
    <div class="vftib_priem_lek_sredstv_v_ran_sroki"> приём лекарств. средств в ранние сроки беременности
    </div>
</div>

<div class="default">
    <div class="text">Социально-угрожаемая:</div>
    <div class="socialno_ugrojaemaya"></div>
</div>

<div class="default">
    <div class="text">Семейное положение:</div>
    <div class="semeynoe_polojenie"></div>
</div>

<div class="default">
    <div class="text">Соматические показатели:</div>
    <div class="mujskoi_tip_telosloj"> мужской тип телосложения</div>
    <div class="girsutism"> гирсутизм</div>
</div>

<div class="default">
    <div class="text">Вес беременной, кг:
    </div>
    <input style='margin-top: 3px;' type="number" class='input ves_beremennoy' min="0"/>
</div>

<div class="default">
    <div class="text">Рост беременной, см:
    </div>
    <input style='margin-top: 3px;' type="number" class='input rost_beremennoy' min="0"/>
</div>

<div class="default">
    <div style="display: inline-table">Размеры таза (пельвиометрия), см:</div>
    <div>Distantia spinarum (D.s):
        <div class="ctrl">
            <span id="viewds">0</span>
            <input id="rangeds" type="range" min="0" max="50" step="0.1" value="0">
            <input id="numds" type=number min="0" max="50" step="0,1" value="0" style="width:100px">
        </div>
    </div>
    <div>Distantia cristarum (D.c.):
        <div class="ctrl">
            <span id="viewdc">0</span>
            <input id="rangedc" type="range" min="0" max="50" step="1" value="0">
            <input id="numdc" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Distantia trochanterica (D.t.):
        <div class="ctrl">
            <span id="viewdt">0</span>
            <input id="rangedt" type="range" min="0" max="50" step="1" value="0">
            <input id="numdt" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata diagonalis (C.d.):
        <div class="ctrl">
            <span id="viewcd">0</span>
            <input id="rangecd" type="range" min="0" max="50" step="10" value="0">
            <input id="numcd" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata externa (C.e.):
        <div class="ctrl">
            <span id="viewce">0</span>
            <input id="rangece" type="range" min="0" max="50" step="1" value="0">
            <input id="numce" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
    <div>Conjugata vera (C.v.):
        <div class="ctrl">
            <span id="viewcv">0</span>
            <input id="rangecv" type="range" min="0" max="50" step="1" value="0">
            <input id="numcv" type=number min="0" max="50" step="1" value="0" style="width:100px">
        </div>
    </div>
</div>
<div class="default">
    <div class="text">Резус-факторы беременной/отца:</div>
    <div class='rezus_factor_p_p'>
        +/+
    </div>
    <div class='rezus_factor_p_m'>
        +/-
    </div>
    <div class='rezus_factor_m_p'>
        -/+
    </div>
    <div class='rezus_factor_m_m'>
        -/-
    </div>
</div>

<div class="default">
    <div class="text">Взята под наблюдение:</div>
    <div class="vz_pod_nabl_posle_12"> после 12 нед. берем-сти</div>
</div>

<div class="default">
    <div class="text">Генетические факторы:</div>
    <div class="geneticheskie_faktori"></div>
</div>

<h3>Акушерско-гинекологический анамнез</h3>

<div class="default">
    <div class="text">Менструальная функция:</div>
    <div class="menstrualnaya_funkciya"></div>
</div>

<div class="default">
    <div class="text">Заболевания внутренних половых органов:</div>
    <div style="display: table-column">
        <div class="zvpo_vosp_pridatkov_u_nerojavshey"> воспаление придатков у нерожавшей</div>
        <div class="zvpo_opuholevoe_obrazovanie_pridatkov"> опухолевое образование придатков</div>
        <div class="zvpo_gipoplaziya_matki"> гипоплазия матки</div>
        <div class="zvpo_operacii_na_pridatkah"> операции на придатках</div>
        <div class="zvpo_istmiko_cervikal_nedostatochnost"> истмико-цервикальная недостаточность</div>
        <div class="zvpo_vospalenie_pridatkov_u_rojavshey"> воспаление придатков у рожавшей</div>
        <div class="zvpo_mioma_matki"> миома матки</div>
        <div class="zvpo_poroki_razvitiya_matki"> пороки развития матки</div>
        <div class="zvpo_operacii_na_matke"> операции на матке (кроме кес/сеч)</div>
        <div class="zvpo_onkologiya_v_anamneze"> онкология в анамнезе</div>
    </div>
</div>

<div class="default">
    <div class="text">Бесплодие:</div>
    <div class="besplodie"></div>
</div>

<div class="default">
    <div class="text">Тип бесплодия:</div>
    <div class="tip_besplodie"></div>
</div>

<h3>Наступление текущей беременности</h3>

<div class="default">
    <div>Наступление беременности:</div>
    <div>В результате ЭКО:</div>
    <div class="nastuplenie_beremennosti_v_rezultate"></div>
    <div class="v_result_stimul_ovulyacii_med_sredstvami">
        в результате стимуляции овуляции медикаментозными средствами
    </div>
</div>

<div class="default">
    <diV class="text">Дата первого дня последн. менс-ции:</div>
    <div style="width: 200px;" class='data_1_dnya_posled_menstr'></div>
</div>

<div class="default">
    <div class="text">Паритет беременности:</div>
    <div class="paritet_beremennosti"></div>
</div>

<div class="default">
    <div class="text">Самопроизвольный аборт:</div>
    <div class="samoproizvolniy_abort"></div>
</div>

<div class="default">
    <div class="text">Внематочная беременность:</div>
    <div class="vnematochnaya_beremennost"></div>
</div>

<div class="default">
    <div class="text">Резус-конфликтная беременность:</div>
    <div class="rezus_conflikt_beremennost"></div>
</div>

<div class="default">
    <div class="text">Гемолитическая болезнь:</div>
    <div class="gemolit_bolezn_ploda_ili_novorojd"> плода или новорожденного</div>
</div>

<div class="default">
    <div class="text">Искуственный аборт:</div>
    <div class="iskustvenniy_abort"></div>
    <div> Осложнения:</div>
    <div class="oslojneniya_iskustvenniy_abort"></div>
</div>

<div class="default">
    <div class="text">Осложнения беременности(анамнез):</div>
    <div style="display: table-column">
        <div class="oba_net"> нет</div>
        <div class="oba_oslojn_preaklamps_umerennoy"> осложн. преэклампсией умеренной</div>
        <div class="oba_oslojn_preaklamps_tyajeloy"> осложн. преэклампсией тяжелой</div>
        <div class="oba_oslojn_aklamps"> осложн. эклампсией</div>
    </div>
    <div style="display: table-column">
        <div class="oba_oslojn_fetoplacent_nedostatochnocty"> осложн. фетоплацент. недостаточностью</div>
        <div class="oba_oslojn_obost_extragenit_patologii"> осложн. обост. экстрагенит. патологии</div>
        <div class="oba_oslojn_prejdevrem_otsloikoi_placenty"> осложн. преждеврем. отслойкой плаценты</div>
    </div>
</div>

<div class="default">
    <div class="text">Осложнения родов(анамнез):</div>
    <div style="display: table-column">
        <div class='osl_rodov_net'>
            нет
        </div>
        <div class='osl_rodov_svoevremen'>
            своевременные
        </div>
        <div class='osl_rodov_prejdevremen'>
            преждевременные
        </div>
        <div class='osl_rodov_zapozdalye'>
            запоздалые
        </div>
    </div>
    <div style="display: table-column">
        <div class="osl_rodov_razryv_2_3_st">осложн. разрывом мягких родовых путей 2-3 степени</div>
        <div class="osl_rodov_krovotecheniem"> осложн. кровотечением</div>
        <div class="osl_rodov_gnoino_sept_infekciey"> осложн. гнойно-септической инфекцией</div>
        <div class="osl_rodov_mertvorojdeniem"> осложн. мертворождением</div>
        <div>кесарево сечение:</div>
        <div class="kesarevo_sechenie"></div>
        <div class="osl_rodov_rubec_na_matke"> рубец на матке после миомэктомии</div>
        <div class="osl_rodov_anomaliyami_rod_deyatelnosty"> осложн. аномалиями родовой деятельности</div>
        <div class="osl_rodov_klinichesky_uzkiy_taz"> клинически узкий таз</div>
        <div class="osl_rodov_plodorazrushayshaya_operaciya"> плодоразрушающая операция</div>
    </div>
</div>
<div class="default">
    <div class="text">Новорожденный или плод(анамнез):</div>
    <div style="display: table-column">
        <div class="nip_smert_v_neonatal_periode"> смерть в неонатальном периоде</div>
        <div class="nip_ves_novorojd_2500_ili_4000"> вес новорожденного был менее 2500г или более 4000г</div>
        <div class="nip_nevrolog_narusheniya"> неврологические нарушения</div>
        <div class="nip_vpr"> ВПР</div>
        <div class="nip_perinat_poteri"> перинатальные потери</div>
    </div>
</div>
<h3>Экстрагенитальные заболевания</h3>
<div class="default">
    <div class="text">Инфекционные болезни:</div>
    <div style="display: table-column">
        <div class="extragenit_zab_gripp"> грипп</div>
        <div class="extragenit_zab_orvi"> ОРВИ</div>
        <div class="extragenit_zab_sifilis"> сифилис</div>
        <div class="extragenit_zab_tuberkulez"> туберкулез</div>
        <div class="extragenit_zab_vich"> ВИЧ-инфекция</div>
        <div class="extragenit_zab_virus_gepatit"> вирусный гепатит</div>
        <div class="extragenit_zab_krasnuha"> краснуха</div>
        <div class="extragenit_zab_toksoplazmoz"> токсоплазмоз</div>
        <div class="extragenit_zab_cmvi"> ЦМВИ</div>
    </div>
</div>
<div class="default">
    <div class="text">Злокачественные новообразования:</div>
    <div class="zlokach_novoobr_nalichie"> наличие в прошлом или настоящем</div>
</div>
<div class="default">
    <div class="text">Болезни эндокринной системы:</div>
    <div style="display: table-column">
        <div>сахарный диабет:
            <div class="saharniy_diabed"></div>
        </div>
        <div>гестационный сахарный диабет:
            <div class="gestacionniy_saharniy_diabed"></div>
        </div>
        <div>заболевания щитовидной железы:
            <div class="zabolevanie_shitovidnoy"></div>
        </div>
        <div>АКО:
            <div class="ako"></div>
        </div>
        <div class="diencef_sindrom"> диэнцефальный синдром</div>
    </div>
</div>
<div class="default">
    <div class="text">Болезни крови и кроветворных органов:</div>
    <div style="display: table-column">
        <div class="anemiya">анемия всех степеней</div>
        <div class="trombocitopeniya">тромбоцитопения</div>
            <div class="trombozy">тромбозы</div>
        <div>коагулопатия:
            <div class="koagulopatiya"></div>
        </div>
    </div>
</div>
<div class="default">
    <div class="text">Психические расстройства:</div>
    <div style="display: table-column">
            <div class="psihosy">психозы</div>
            <div class="shisofreniya">шизофрения</div>
            <div class="narusheniya_lichnosty">нарушения личности</div>
            <div class="umstven_otstalost">умственная отсталость</div>
    </div>
</div>

<div class="default">
    <div class="text">Болезни нервной системы и органов чувств:</div>
    <div style="display: table-column">
            <div class="nasled_i_degenerat_bolesni_cns">наследственные и дегенератичные болезни ЦНС</div>
            <div class="vospalit_bolesni_cns">воспалительные болезни ЦНС</div>
            <div class="miopiya">миопия высокой степени или миопия с дистрофическими изменениями</div>
    </div>
</div>

<div class="default">
    <input class="osnovnie_dannie_btn_save" type="button" value="Сохранить"/>
</div>

<script>
    $(document).ready(async function () {
        let sourse_stepen_riska;
        let sourse_doctor;
        let sourse_rayon;
        let sourse_semeynoe_polojenie;
        let sourse_geneticheskie_faktori;
        let sourse_menstrualnaya_funkciya;
        let sourse_besplodie;
        let sourse_tip_besplodie;
        let sourse_nastuplenie_beremennosti_v_rezultate;
        let sourse_paritet_beremennosti;
        let sourse_samoproizvolniy_abort;
        let sourse_iskustvenniy_abort;
        let sourse_oslojneniya_iskustvenniy_abort;
        let sourse_kesarevo_sechenie;
        let sourse_saharniy_diabed;
        let sourse_gestacionniy_saharniy_diabed;
        let sourse_zabolevanie_shitovidnoy;
        let sourse_ako;
        let sourse_koagulopatiya;

        await get_mega_json.then(function (data) {
            sourse_stepen_riska = data['stepen_riska'].map(item => item['nazvanie']);
            sourse_doctor = data['doctor'].map(item => item['fio']);
            sourse_rayon = data['rayon'].map(item => item['nazvanie']);
            sourse_semeynoe_polojenie = data['semeynoe_polojenie'].map(item => item['nazvanie']);
            sourse_geneticheskie_faktori = data['geneticheskie_faktori'].map(item => item['nazvanie']);
            sourse_menstrualnaya_funkciya = data['menstrualnaya_funkciya'].map(item => item['nazvanie']);
            sourse_besplodie = data['besplodie'].map(item => item['nazvanie']);
            sourse_tip_besplodie = data['tip_besplodie'].map(item => item['nazvanie']);
            sourse_nastuplenie_beremennosti_v_rezultate = data['nastuplenie_beremennosti_v_rezultate'].map(item => item['nazvanie']);
            sourse_paritet_beremennosti = data['paritet_beremennosti'].map(item => item['nazvanie']);
            sourse_samoproizvolniy_abort = data['samoproizvolniy_abort'].map(item => item['nazvanie']);
            sourse_iskustvenniy_abort = data['iskustvenniy_abort'].map(item => item['nazvanie']);
            sourse_oslojneniya_iskustvenniy_abort = data['oslojneniya_iskustvenniy_abort'].map(item => item['nazvanie']);
            sourse_kesarevo_sechenie = data['kesarevo_sechenie'].map(item => item['nazvanie']);
            sourse_saharniy_diabed = data['saharniy_diabed'].map(item => item['nazvanie']);
            sourse_gestacionniy_saharniy_diabed = data['gestacionniy_saharniy_diabed'].map(item => item['nazvanie']);
            sourse_zabolevanie_shitovidnoy = data['zabolevanie_shitovidnoy'].map(item => item['nazvanie']);
            sourse_ako = data['ako'].map(item => item['nazvanie']);
            sourse_koagulopatiya = data['koagulopatiya'].map(item => item['nazvanie']);
        })

        console.log(sourse_stepen_riska);
        console.log(sourse_doctor);
        console.log(sourse_rayon);
        console.log(sourse_semeynoe_polojenie);
        console.log(sourse_geneticheskie_faktori);
        console.log(sourse_menstrualnaya_funkciya);
        console.log(sourse_besplodie);
        console.log(sourse_tip_besplodie);
        console.log(sourse_nastuplenie_beremennosti_v_rezultate);
        console.log(sourse_paritet_beremennosti);
        console.log(sourse_samoproizvolniy_abort);
        console.log(sourse_iskustvenniy_abort);
        console.log(sourse_oslojneniya_iskustvenniy_abort);
        console.log(sourse_kesarevo_sechenie);
        console.log(sourse_saharniy_diabed);
        console.log(sourse_gestacionniy_saharniy_diabed);
        console.log(sourse_zabolevanie_shitovidnoy);
        console.log(sourse_ako);
        console.log(sourse_koagulopatiya);

        $(".stepen_riska").jqxComboBox({
            selectedIndex: 1,
            source: sourse_stepen_riska,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $(".data_vzyatiya_na_uchet").jqxDateTimeInput({width: '250px', height: '25px', theme: 'arctic'});

        $(".uchastk_vrach").jqxComboBox({
            selectedIndex: 1,
            source: sourse_doctor,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $(".data_rozdeniya").jqxDateTimeInput({width: '250px', height: '25px', theme: 'arctic'});

        $(".mesto_post_prozivaniya_beremennoy").jqxComboBox({
            selectedIndex: 1,
            source: sourse_rayon,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        //номер телефона с маской
        $(".phone_beremennoy").jqxMaskedInput({
            width: '250px',
            height: '25px',
            mask: '#(###)###-##-##',
            theme: 'arctic'
        });

        //номер ОМС с маской
        $(".nomer_oms_beremennoy").jqxMaskedInput({
            width: '250px',
            height: '25px',
            mask: '## ## ########',
            theme: 'arctic'
        });

        $('.vp_kurenie').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_alkogolism').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_narkomaniya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vp_toksikomaniya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_himicheskie').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_radioactive').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_neud_jil_usloviya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.vftib_priem_lek_sredstv_v_ran_sroki').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.socialno_ugrojaemaya').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $(".semeynoe_polojenie").jqxComboBox({
            selectedIndex: 1,
            source: sourse_semeynoe_polojenie,
            width: '200px',
            height: '30px',
            theme: 'arctic'
        });

        $('.mujskoi_tip_telosloj').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $('.girsutism').jqxCheckBox({width: 'auto', theme: 'arctic'});

        //ползунок ds
        $(document).ready(function () {
            const num = document.getElementById('numds');
            const rng = document.getElementById('rangeds');
            const view = document.getElementById('viewds');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок dc
        $(document).ready(function () {
            const num = document.getElementById('numdc');
            const rng = document.getElementById('rangedc');
            const view = document.getElementById('viewdc');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок dt
        $(document).ready(function () {
            const num = document.getElementById('numdt');
            const rng = document.getElementById('rangedt');
            const view = document.getElementById('viewdt');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок cd
        $(document).ready(function () {
            const num = document.getElementById('numcd');
            const rng = document.getElementById('rangecd');
            const view = document.getElementById('viewcd');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок ce
        $(document).ready(function () {
            const num = document.getElementById('numce');
            const rng = document.getElementById('rangece');
            const view = document.getElementById('viewce');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });
        //ползунок cv
        $(document).ready(function () {
            const num = document.getElementById('numcv');
            const rng = document.getElementById('rangecv');
            const view = document.getElementById('viewcv');
            const goods = document.querySelectorAll('.good');
            const set = val => {
                num.value = val;
                rng.value = val;
                view.textContent = val;
                [...goods].forEach(good => {
                    const options = good.querySelectorAll('.option');
                    [...options].forEach(option => {
                        option.style.display = val >= +option.dataset.from ? 'block' : 'none';
                    });
                });
            }
            rng.addEventListener('input', () => set(rng.value));
            num.addEventListener('change', () => set(num.value));
        });

        //радиобтн
        $(".rezus_factor_p_p").jqxRadioButton({width: 70, height: 25, theme: 'arctic'});
        $(".rezus_factor_p_m").jqxRadioButton({width: 70, height: 25, theme: 'arctic'});
        $(".rezus_factor_m_p").jqxRadioButton({width: 70, height: 25, theme: 'arctic'});
        $(".rezus_factor_m_m").jqxRadioButton({width: 70, height: 25, theme: 'arctic'});

        $('.vz_pod_nabl_posle_12').jqxCheckBox({width: 'auto', theme: 'arctic'});
        //Генетические факторы комбобокс
        $(".geneticheskie_faktori").jqxComboBox({
            selectedIndex: 1,
            source: sourse_geneticheskie_faktori,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        //менструальная функция
        $(".menstrualnaya_funkciya").jqxComboBox({
            selectedIndex: 1,
            source: sourse_menstrualnaya_funkciya,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        //Заболевания внутренних половых органов:
        $('.zvpo_vosp_pridatkov_u_nerojavshey').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_opuholevoe_obrazovanie_pridatkov').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_gipoplaziya_matki').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_operacii_na_pridatkah').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_istmiko_cervikal_nedostatochnost').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_vospalenie_pridatkov_u_rojavshey').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_mioma_matki').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_poroki_razvitiya_matki').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_operacii_na_matke').jqxCheckBox({width: 'auto', theme: 'arctic'});
        $('.zvpo_onkologiya_v_anamneze').jqxCheckBox({width: 'auto', theme: 'arctic'});

        $(".besplodie").jqxComboBox({
            selectedIndex: 1,
            source: sourse_besplodie,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".tip_besplodie").jqxComboBox({
            selectedIndex: 1,
            source: sourse_tip_besplodie,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        //наступление текущей беременности
        $(".nastuplenie_beremennosti_v_rezultate").jqxComboBox({
            selectedIndex: 1,
            source: sourse_nastuplenie_beremennosti_v_rezultate,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        $(".v_result_stimul_ovulyacii_med_sredstvami").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".data_1_dnya_posled_menstr").jqxDateTimeInput({width: '250px', height: '25px', theme: 'arctic'});

        $(".paritet_beremennosti").jqxComboBox({
            selectedIndex: 1,
            source: sourse_paritet_beremennosti,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        $(".samoproizvolniy_abort").jqxComboBox({
            selectedIndex: 1,
            source: sourse_samoproizvolniy_abort,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".vnematochnaya_beremennost").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".rezus_conflikt_beremennost").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".gemolit_bolezn_ploda_ili_novorojd").jqxCheckBox({width: 'auto', theme: 'arctic'});
        //Искусственный аборт
        $(".iskustvenniy_abort").jqxComboBox({
            selectedIndex: 1,
            source: sourse_iskustvenniy_abort,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".oslojneniya_iskustvenniy_abort").jqxComboBox({
            selectedIndex: 1,
            source: sourse_oslojneniya_iskustvenniy_abort,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //Осложнения беременности(анамнез) - радиокнопки
        $(".oba_net").jqxRadioButton({width: 250, height: 25});
        $(".oba_oslojn_preaklamps_umerennoy").jqxRadioButton({width: 250, height: 25});
        $(".oba_oslojn_preaklamps_tyajeloy").jqxRadioButton({width: 250, height: 25});
        $(".oba_oslojn_aklamps").jqxRadioButton({width: 250, height: 25});

        //Осложнения беременности(анамнез) - чекбоксы
        $(".oba_oslojn_fetoplacent_nedostatochnocty").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".oba_oslojn_obost_extragenit_patologii").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".oba_oslojn_prejdevrem_otsloikoi_placenty").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //осложнения родов(анамнез) - радиокнопки
        $(".osl_rodov_net").jqxRadioButton({width: 250, height: 25});
        $(".osl_rodov_svoevremen").jqxRadioButton({width: 250, height: 25});
        $(".osl_rodov_prejdevremen").jqxRadioButton({width: 250, height: 25});
        $(".osl_rodov_zapozdalye").jqxRadioButton({width: 250, height: 25});

        //осложнения родов(анамнез) - чекбоксы
        $(".osl_rodov_razryv_2_3_st").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_krovotecheniem").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_gnoino_sept_infekciey").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_mertvorojdeniem").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //кесарево комбобокс
        $(".kesarevo_sechenie").jqxComboBox({
            selectedIndex: 1,
            source: sourse_kesarevo_sechenie,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });

        //осложнения родов(анамнез) - чекбоксы2
        $(".osl_rodov_rubec_na_matke").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_anomaliyami_rod_deyatelnosty").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_klinichesky_uzkiy_taz").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".osl_rodov_plodorazrushayshaya_operaciya").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //Новорожденный или плод(анамнез) - чекбоксы
        $(".nip_smert_v_neonatal_periode").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".nip_ves_novorojd_2500_ili_4000").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".nip_nevrolog_narusheniya").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".nip_vpr").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".nip_perinat_poteri").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //экстрагенитальные заболевания
        //инфекционные болезни - чекбоксы
        $(".extragenit_zab_gripp").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_orvi").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_sifilis").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_tuberkulez").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_vich").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_virus_gepatit").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_krasnuha").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_toksoplazmoz").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".extragenit_zab_cmvi").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //злокачественные образования
        $(".zlokach_novoobr_nalichie").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //болезни эндокринной системы
        $(".saharniy_diabed").jqxComboBox({
            selectedIndex: 1,
            source: sourse_saharniy_diabed,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".gestacionniy_saharniy_diabed").jqxComboBox({
            selectedIndex: 1,
            source: sourse_gestacionniy_saharniy_diabed,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".zabolevanie_shitovidnoy").jqxComboBox({
            selectedIndex: 1,
            source: sourse_zabolevanie_shitovidnoy,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".ako").jqxComboBox({
            selectedIndex: 1,
            source: sourse_ako,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        $(".diencef_sindrom").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //болезни крови и кроветворных органов
        $(".anemiya").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".trombocitopeniya").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".trombozy").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //болезни крови и кроветворных органов - коагулопатия чекбокс
        $(".koagulopatiya").jqxComboBox({
            selectedIndex: 1,
            source: sourse_koagulopatiya,
            width: '250px',
            height: '30px',
            theme: 'arctic'
        });
        //психические расстройства
        $(".psihosy").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".shisofreniya").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".narusheniya_lichnosty").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".umstven_otstalost").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //болезни нервной системы и органов чувств
        $(".nasled_i_degenerat_bolesni_cns").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".vospalit_bolesni_cns").jqxCheckBox({width: 'auto', theme: 'arctic'});
        $(".miopiya").jqxCheckBox({width: 'auto', theme: 'arctic'});

        //кнопка сохранить
        //Кнопка Консультации
        $(".osnovnie_dannie_btn_save").jqxToggleButton({toggled: false, theme: 'arctic'});
        $(".osnovnie_dannie_btn_save").on('click', function () {
            var toggled = $(".osnovnie_dannie_btn_save").jqxToggleButton('toggled');
        });
    });
</script>