<div class="h100 tabliza_napravlenie"></div>

<style>

</style>

<script>
    'use strict';

    class TablizaNapravlenie {

        constructor($grid) {
            let self = this;
            this.$grid = $grid;
            this.$grid.jqxGrid(self.nastroiki_grida);
        }

        get nastroiki_grida() {
            let self = this;
            return {
                width: '100%',
                height: '100%',
                source: this.data_adapter,
                columns: this.colums,
                enabletooltips: true,
                localization: RUS_LOCALIZ,
                filterable: true,
                showtoolbar: true,
                pageable: true,
                columnsresize: true,
                autorowheight: true,
                scrollmode: 'logical',
                rowsheight: 40,
                toolbarheight: 40,
                theme: 'arctic',
                altrows: true,
                sortable: true,
                showstatusbar: true,
                statusbarheight: 25,
                pagesizeoptions: ['5', '10', '30', '50', '100'],
                pagesize: 30,
            }
        }

        get fields() {
            return [
                {name: 'id', type: 'number'},
                {name: 'data', type: 'data'},
                {name: 'punkt_napravleniya_title', type: 'string'},
                {name: 'cel_napravleniya', type: 'string'},
                {name: 'diagnoz_podtverjden', type: 'boolean'},
            ]
        }

        get colums() {
            return [
                {
                    text: 'ID',
                    datafield: 'id',
                    align: 'center',
                    cellsalign: 'center',
                    width: '200',

                },
                {
                    text: 'Дата (заполнено?)',
                    datafield: 'data',
                    align: 'center',
                    cellsalign: 'center',
                    width: '200',

                },
                {
                    text: 'Учреждение',
                    datafield: 'punkt_napravleniya_title',
                    align: 'center',
                    cellsalign: 'center',
                    width: '200',

                },
                {
                    text: 'Цель',
                    datafield: 'cel_napravleniya',
                    align: 'center',
                    cellsalign: 'center',
                    width: '200',

                },
                {
                    text: 'Диагноз подтв.',
                    datafield: 'diagnoz_podtverjden',
                    align: 'center',
                    cellsalign: 'center',
                    width: '200',

                },

            ];
        }

        get data_adapter() {

            return new $.jqx.dataAdapter({
                datatype: "json",
                data: 'data',
                url: '/api/napravlenie/',
                datafields: this.fields,
                sortcolumn: 'id',
                sortdirection: 'desc'
            });
        }
    }


   let $tabliza_napravlenie = $('.tabliza_napravlenie');
    $(document).ready(function () {
        new TablizaNapravlenie($tabliza_napravlenie);
    });

</script>