{% if user.polzovatel.rol == 1 or user.polzovatel.rol == 2 or user.polzovatel.rol == 3 %}
<button class="topmenu menubtn" id="btn_open_window_novoe_napravlenie" style="display: none">Новое направление</button>
{% endif %}
<script>

    class BtnWindowNovoeNapravlenie {
        constructor($btn_open_window_novoe_napravlenie, $window, obj_window_napravlenie) {
            this.$btn = $btn_open_window_novoe_napravlenie;
            this.$window = $window;
            this.obj_window_napravlenie = obj_window_napravlenie;
            this.on_click_toogle_btn();

        }

        on_click_toogle_btn(event) {
            let self = this;
            this.$btn.click(function () {
                    let tgl = self.$window.jqxWindow('isOpen');
                    let rowindexes = $('.tabliza_beremennaya').jqxGrid('getselectedrowindexes');
                    let data = $('.tabliza_beremennaya').jqxGrid('getrowdatabyid', rowindexes);
                    let sr = data.id;
                    if (tgl === false) {
                        document.getElementById("btn_open_window_novoe_napravlenie").classList.remove('menubtn');
                        document.getElementById("btn_open_window_novoe_napravlenie").classList.add('menubtn_toggle');
                        obj_window_napravlenie.open2(data.id);

                    } else {
                        document.getElementById("btn_open_window_novoe_napravlenie").classList.remove('menubtn_toggle');
                        document.getElementById("btn_open_window_novoe_napravlenie").classList.add('menubtn');
                        self.$window.jqxWindow('close');
                    }
                }
            )
            ;
        }

    }

    $btn_open_window_novoe_napravlenie = $('#btn_open_window_novoe_napravlenie')
    $(function () {
        new BtnWindowNovoeNapravlenie($btn_open_window_novoe_napravlenie, $window_napravlenie);
    })
    $(function () {
        $window_napravlenie.on('close', function (event) {
            document.getElementById("btn_open_window_novoe_napravlenie").classList.remove('menubtn_toggle');
            document.getElementById("btn_open_window_novoe_napravlenie").classList.add('menubtn');
        });
    })

</script>